<template>
  <div class="container">
    <div class="container__context">
      <div v-html="$md.render(data.context)"></div>
    </div>
    <div class="container__copy">
      <div v-html="$md.render(data.copy)"></div>
    </div>
    <div :class="[data.is_large ? 'container__cta--large' : 'container__cta']">
      <div v-html="$md.render(data.cta)"></div>
    </div>
  </div>
</template>
 
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'DataCard',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $spacing-48;
  margin: $spacing-0 $spacing-16;
  box-shadow: $slp-shadow;
  width: 100%;
  max-height: 276px;
  &__context {
    color: $grayscale-secondary;
  }
  &__copy {
    font-size: $font-size-5xl;
    font-weight: $font-weight-bold;
    line-height: $line-height-5xl;
    color: $charcoal;
    margin: $spacing-8 $spacing-0;
    &--media {
      margin: $spacing-16 $spacing-0;
    }
  }
  &__cta {
    color: $granite;
    &--large {
      color: $charcoal;
    }
  }
}
</style>