<template>
  <section class="enterprise-cta slp-mb-64 slp-mt-96" :class="{'enterprise-cta--no-image': !data.image}">
    <SlpRow :class="{inverted: data.inverted}">
      <SlpColumn
        :cols="data.image ? 6 : 12"
        class="slp-flex slp-align-items-center"
      >
        <div class="enterprise-cta__body">
          <div class='slp-mb-32 slp-flex slp-flex-column slp-align-items-center slp-justify-content-center'>
            <h1 class='slp-text-5xl cta-title' :class="{'enterprise-cta__title-image': !data.image}">{{ data.title }}</h1>
            <div v-for="block in data.body" :key="block.header">
              <h3 v-if="block.header">{{block.header}}</h3>
              <p>{{block.text}}</p>
            </div>
          </div>
          <div class="slp-mb-32" v-if="data.primary_button || data.secondary_button">
            <SlpButton
              v-if="data.primary_button"
              class="slp-mr-8"
              variant="primary"
              :data-ga-name="data.primary_button.data_ga_name || 'free trial'"
              data-ga-location="header"
              :href="data.primary_button.url || 'https://about.gitlab.com/free-trial/'"
              >{{ data.primary_button.text || "Get free trial" }}</SlpButton>
            <SlpButton
              v-if="data.secondary_button"
              variant="outline"
              href="https://about.gitlab.com/sales/"
              :data-ga-name="data.secondary_button.data_ga_name || 'contact sales'"
              data-ga-location="header"
              >{{ data.secondary_button.text || "Contact Sales" }}</SlpButton
            >
          </div>
          <p v-if="data.tag_line" class="slp-mb-24">{{ data.tag_line }}</p>
        </div>
      </SlpColumn>
      <SlpColumn
        :cols="6"
        class="slp-flex image-container"
        v-if="data.image"
      >
        <img
          class="cta__image"
          :src="data.image.image_url"
          :alt="data.image.alt"
        />
      </SlpColumn>
      <SlpHorizontalRule v-if='data.horizontal_rule' class='slp-mb-64 slp-mt-64'/>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'SolutionsCTA',
  components: {
    SlpButton,
    SlpColumn,
    SlpRow,
    SlpHorizontalRule
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.inverted{
  flex-direction: row-reverse;
}
h3{
  margin-bottom: $spacing-8;
  margin-top: $spacing-24;
  font-weight: $font-weight-medium;
  font-size: $font-size-2xl;
}
p{
  font-size: $font-size-sm;
}
.sub-header {
  margin-bottom: $spacing-12;
  font-weight: $font-weight-medium;
  font-size: $font-size-2xl;
}

.enterprise-cta {
  margin-bottom: $spacing-128;
  @media (max-width: $md) {
    margin-top: 0;
    margin-bottom: $spacing-96;
  }

  &__body{
    &--text{
      @media (min-width: $md) {
        width: 50%;
      }
    }
  }

  &--no-image {
    .slp-row {
      justify-content: center;
    }
  }

  &--no-image &__body {
    text-align: center;
  }

  &__title-image {
    position: relative;
    display: inline;

    &:after,
    &:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -12px;
    }

    &:after {
      background-image: url('/nuxt-images/backgrounds/right-heading-bg.svg');
      right: -45px;
    }

    &:before {
      background-image: url('/nuxt-images/backgrounds/left-heading-bg.svg');
      left: -45px;
    }
  }
}

.cta__company-icon {
  height: 19px;
}

.image-container{
  padding: 2rem;
  justify-content: center;
  img {
    max-height: 70%;
  }
}

.cta__image {
  max-height: 150px;
  max-width: 100%;
}
</style>
