<template>
  <slp-row class="sm:slp-mt-24 showcase__container">
    <slp-column class="showcase_description__container">
      <img :src="data.image_url" />
      <h2> {{ data.header }} </h2>
      <p> {{data.text}} </p>
    </slp-column>
    <slp-column class="showcase_cards__container">
      <div class="card" v-for="card in data.cards" :key="card.header">
        <h3>
          {{card.header}}
        </h3>
        <p>{{card.text}}</p>
      </div>
    </slp-column>
  </slp-row>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
export default Vue.extend({
  components:{
    SlpColumn,
    SlpRow
  },
  props:{
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';
  .showcase__container{
    max-width: 80%;
    margin: 0 auto 3rem auto;
  }
  .showcase_description__container{
    margin-right: 20px;
  }
  .card{
    padding: $spacing-24;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    background: $white;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    padding: 40px;
    color: rgb(51, 51, 51);
    margin: $spacing-32 0;
    &:first-child::before{
      content: url('/nuxt-images/feature-showcase/body-featured-line-1.svg');
    }
    &::before{
      content: url('/nuxt-images/feature-showcase/body-featured-line-2.svg');
      display: block;
      position: absolute;
      text-align: center;
      top: -35px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
    }
    &:last-child:after{
      content: url('/nuxt-images/feature-showcase/body-featured-line-3.svg');
      display: block;
      position: absolute;
      text-align: center;
      bottom: -80px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
    }
  }
    h2 {
      line-height: 36px;
      margin: 1rem 0;
    }
    h3 {
        margin: 8px 0 10px 0;
      }
    p {
      font-size: 16px;
      line-height: 24px;
    }
</style>