<template>
  <div>
    <SlpContainer>
      <Header :data="doc.header" />
    </SlpContainer>
    <SlpContainer variant="grey-100">
      <CeOrEe :data="doc.editions" />
    </SlpContainer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import CeOrEe from '~/components/ce-or-ee/ce-or-ee.vue'
import Header from '~/components/ce-or-ee/header.vue'
import SlpContainer from '~/components/container.vue'

export default Vue.extend({
  components: {
    CeOrEe,
    Header,
    SlpContainer,
  },
  async asyncData({ $content, params }: any) {
    const doc = await $content('install/ce-or-ee', params.slug).fetch()
    return { doc }
  },
  head() {
    const title = 'Choose your GitLab distribution'
    const description =
      'Find out the differences between the GitLab Enterprise and GitLab Community distributions so you can decide which may suit you best. Learn more!'
    const image = '/nuxt-images/open-graph/open-graph-enterprise.png'

    return {
      title,
      meta: [
        {
          hid: 'twitter: title',
          name: 'twitter:title',
          content: title,
        },
        { hid: 'description', name: 'description', content: description },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: description,
        },
        { hid: 'og:description', name: 'og:description', content: description },
        { hid: 'og:image', name: 'og:image', content: image },
        { hid: 'twitter:image', name: 'twitter:image', content: image },
      ],
    }
  },
})
</script>
