<template>
  <SlpContainer>
    <component
      :is='component.name'
      v-for='component in solutions.components'
      :key='component.name'
      :data='component.data'
    ></component>
    <FreeTrialCTA variant='image' type='pricing' />
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SolutionsCallToAction from '~/components/cta.vue'
import SolutionsFeatureList from '~/components/solutions/feature-list.vue'
import SolutionsFeaturedMedia from '~/components/solutions/featured-media.vue'
import SolutionsCarouselVideos from '~/components/solutions/carousel-videos.vue'
import FreeTrialCTA from '~/components/free-trial-cta.vue'
import SlpContainer from '~/components/container.vue'
import CopyMedia from '~/components/copy-media.vue'
import Copy from '~/components/copy.vue'
import SlpDisclaimer from '~/components/disclaimer.vue'
import SolutionsResources from '~/components/solutions/resource-list.vue'
import CopyResources from '~/components/solutions/copy-resources.vue'
import TabsMenu from '~/components/tabs-menu.vue'
import PullQuote from '~/components/pull-quote.vue'
import Benefits from '~/components/benefits.vue'
import LogoLinks from '~/components/logo-links.vue'
import { getPageMetadata } from '~/common/meta'


export default Vue.extend({
  components: {
    LogoLinks,
    FreeTrialCTA,
    SlpContainer,
    SolutionsCallToAction,
    SolutionsFeatureList,
    SolutionsFeaturedMedia,
    CopyMedia,
    Copy,
    SlpDisclaimer,
    SolutionsResources,
    CopyResources,
    TabsMenu,
    PullQuote,
    Benefits,
    SolutionsCarouselVideos
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const solutions = await $content(`solutions/${params.solutions ? params.solutions : 'index'}`).fetch()
      return { solutions }
    } catch (e) {
      error({ statusCode: 404 })
    }
  },
  head() {
    return getPageMetadata((<any>this).solutions)
  }
})
</script>

