<template>
  <SlpContainer>
    <component
      :is='component.name'
      v-for='component in topics.components'
      :key='component.name'
      :data='component.data'
    ></component>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import CallToAction from '~/components/cta.vue'
import SlpContainer from '~/components/container.vue'
import SlpTable from '~/components/table.vue'
import CopyCard from '~/components/company/copy-card.vue'
import CopyMedia from '~/components/copy-media.vue'
import CopyMediaCard from '~/components/company/copy-media-card.vue'
import TopicsCards from '~/components/topics/topics-cards.vue'
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    CallToAction,
    CopyCard,
    CopyMediaCard,
    CopyMedia,
    TopicsCards,
    SlpContainer,
    SlpTable
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const topics = await $content(`topics/${params.topics ? params.topics : 'index'}`).fetch()
      return { topics }
    } catch (e) {
      console.error(e)
      error({ statusCode: 404 })
    }
  },
  head() {
    return getPageMetadata((<any>this).topics)
  }
})
</script>

<style scoped lang='scss'>

</style>
