
<template>
  <section class="slp-flex slp-flex-column slp-align-items-center">
    <h3 class="slp-mb-24">{{ data.subtitle }}</h3>
    <div class="container slp-mb-64">
      <div class="card" v-for="card in data.cards" :key="card.title">
        <div class="icon">
          <img :src="card.icon" />
        </div>
        <div class="card__content">
          <h4 class="title slp-text-lg">{{ card.title }}</h4>
          <a
            :href="card.url"
            :data-ga-name="card.data_ga_name"
            :data-ga-location="card.data_ga_location"
            class="description slp-text-base"
            >{{ card.description }}</a
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script lang='ts'>
import Vue from 'vue'

export default Vue.extend({
  name: 'TopicsCards',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang='scss' scoped>
@import '~/assets/css/base.scss';

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px 50px;
  width: 80%;
  margin: 0 10%;
  @media (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  box-shadow: $card-shadow;
  min-width: 289px;
  border-radius: $spacing-4;
  &__content {
    padding: $spacing-32;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 165px;
    .title {
      color: $charcoal;
    }

    .description {
      color: $secondary;
      font-weight: $font-weight-bold;
      &:after {
        position: absolute;
        content: '→';
        padding-top: 2px;
        padding-left: $spacing-4;
        width: 9px;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .icon {
    width: 100%;
    height: 195px;

    img {
      width: 100%;
      height: 195px;
      transition: all 0.2s ease-in-out;
      border-bottom: 1px solid $grayscale-highlight;
      border-radius: $spacing-4;
    }

  }
}
</style>
