<template>
  <div :class="`container ${reverse && 'reverse'}`">
    <div class="copy">
      <h3 v-if="data.header" class="header">{{ data.header }}</h3>
      <h4 v-if="data.subtitle">{{ data.subtitle }}</h4>
      <div class="copy__body">
        <div style="margin-bottom: 24px" v-html="$md.render(data.text)"></div>
        <slp-button :href="data.link_href">{{ data.link_text }}</slp-button>
      </div>
    </div>
    <div class="image">
      <img :src="data.image" :alt="data.image_alt_text" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
export default Vue.extend({
  name: 'CopyImage',
  components: {
    SlpButton,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    reverse: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
})
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 100%;
  position: relative;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 144px;
    max-width: 1140px;
  }

  &.reverse {
    grid-auto-flow: column;
    @media (min-width: 1024px) {
      .copy {
        grid-column: 6 / 11;
      }

      .image {
        grid-column: 1 /6;
      }
    }
  }
}

.header {
  color: #333;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 16px;
  @media (min-width: 1024px) {
    font-size: 45px;
  }
}

.copy {
  grid-column: 1 / -1;
  margin-bottom: 32px;
  @media (min-width: 1024px) {
    grid-column: 1 / 6;
    margin-bottom: 64px;
  }

  h4 {
    color: #333;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      font-size: 23px;
    }
  }
}

.copy__body {
  grid-column: span / span 4;
  color: #333;
}

.copy__body::v-deep p {
  margin-bottom: 1em;
}
.copy__body::v-deep p a {
  color: #7d2bd9;
}

.image {
  grid-column: 1 / -1;

  img {
    width: 100%;
  }

  @media (min-width: 1024px) {
    grid-column: 6 / 11;
  }
}
</style>
