<template>
  <section class="getInTouch">
    <script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>
    <div class="getInTouch__left">
      <h2>{{ data.header }}</h2>
      <p>
        {{ data.subtitle }}
      </p>
    </div>
    <div class="getInTouch__right">
      <p>
        {{ data.content }}
      </p>
      <div class="getInTouch__form">
        <form id="mktoForm_1073"></form>
      </div>
      <one-trust-trouble-warning class="getInTouch__onetrustWarning" />
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import OneTrustTroubleWarning from '~/components/onetrust-trouble-warning.vue'

export default Vue.extend({
  name: 'GetInTouch',
  components: {
    OneTrustTroubleWarning,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    window.MktoForms2.setOptions({
      formXDPath: '/rs/194-VVC-221/images/marketo-xdframe-relative.html',
    })
    window.MktoForms2.loadForm(
      '//page.gitlab.com',
      '194-VVC-221',
      1073,
      function (form) {
        form.onSuccess(function () {
          dataLayer.push({
            event: 'mktoLead',
            mktoFormId: form.getId(),
            eventCallback() {
              form.getFormElem().hide()
              document.getElementById('confirmform').style.display = 'block'
            },
            eventTimeout: 3000,
          })
          return false
        })
        function getgacid() {
          try {
            const tracker = ga.getAll()[0]
            return tracker.get('clientId')
          } catch (e) {
            return 'n/a'
          }
        }
        form.vals({
          gacid: getgacid(),
        })
      }
    )
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.getInTouch {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 100%;
  position: relative;
  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 160px;
    max-width: 1140px;
  }
}

.getInTouch__left {
  grid-column: 1 / -1;

  @media (min-width: 1024px) {
    grid-column: 1 / span 5;
  }

  h2 {
    margin-bottom: 16px;
  }

  p {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 750px;
  }
}

.getInTouch__right {
  grid-column: 1 / -1;

  @media (min-width: 1024px) {
    grid-column: 6 / span 5;
  }
  p:last-of-type {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.getInTouch__form,
.getInTouch__onetrustWarning {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.getInTouch__form__input {
  margin-right: 8px;
  width: 75%;
}

.getInTouch__form__button {
  flex: 1;
  padding: 19px;
}
</style>
