<template>
  <section class="enterprise-cta slp-mt-128">
    <SlpRow>
      <SlpColumn :cols="6" class="slp-flex slp-align-items-center">
        <div class="cta__title-column">
          <h1 class="slp-text-5xl">{{ data.title }}</h1>
          <h3 class="slp-my-16 slp-mb-0 slp-text-xxl">{{ data.subtitle }}</h3>
          <div class="slp-mb-16">
            <SlpButton
              class="slp-mr-8"
              variant="primary"
              :href="data.free_trial_button.link"
              :dataGaName="data.free_trial_button.data_ga_name"
              :dataGaLocation="data.free_trial_button.data_ga_location"
              >{{ data.free_trial_button.text }}</SlpButton
            >
            <SlpButton
              variant="outline"
              :href="data.contact_sales_button.link"
              :dataGaName="data.contact_sales_button.data_ga_name"
              :dataGaLocation="data.contact_sales_button.data_ga_location"
              >{{ data.contact_sales_button.text }}</SlpButton
            >
          </div>
          <p class="slp-mb-16 slp-text-base">{{ data.tag_line }}</p>
          <div class="cta__companies slp-flex">
            <span
              v-for="enterprise in data.showcased_enterprises"
              :key="enterprise.alt"
              class="slp-mr-4 slp-mt-8"
            >
              <a :href="enterprise.url" target="_blank">
                <img
                  class="cta__company-icon"
                  :src="enterprise.image_url"
                  :alt="enterprise.alt"
                />
              </a>
            </span>
          </div>

        </div>
      </SlpColumn>
      <SlpColumn :cols="6" class="cta__media-column slp-flex slp-align-items-center">
        <div v-if="data.video" class="cta__video">
          <iframe
            style="width: 100%; height: 100%"
            :src="data.video.video_url"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
          />
        </div>
        <div v-else-if="data.image">
          <img
            class="cta__image"
            :src="data.image.image_url"
            :alt="data.image.alt"
          />
        </div>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import SlpButton from '~/components/button.vue'

export default Vue.extend({
  name: 'EnterpriseCTA',
  components: {
    SlpButton,
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.enterprise-cta {

  @media (max-width: $md) {
    margin-top: 0px;
    text-align: center;

    h1 {
      font-size: $font-size-3xl;
      line-height: $line-height-3xl;
    }

    h3 {
      font-size: $font-size-xl;
      line-height: $line-height-xl;
      margin-bottom: 0;
    }

    .slp-btn {
      width: 100%;
      margin-top: $spacing-8;
    }

    .cta__video {
      margin-left: 0;
    }

    .cta__companies {
      justify-content: space-around;
    }

    .cta__title-column{
      margin-right: 0;
      margin-bottom: $spacing-24;
    }
  }
}

.cta__companies {
  flex-wrap: wrap;
  justify-content: space-between;
}

.cta__title-column {
  margin-right: $spacing-32;
}

.cta__media-column {
  margin: 0 auto;
}

.cta__company-icon {
  height: 18px;
}

.cta__image {
  max-height: 362px;
  max-width: 100%;
}

.cta__video {
  width: 560px;
  height: 315px;
  margin-left: $spacing-32
}
</style>
