<template>
  <section class="customer-highlights">
    <div class="main-highlight">
      <img class="highlight__logo" :src="data.highlighted_customer.logo" />
      <img
        class="main-highlight__image"
        :src="data.highlighted_customer.image.image_url"
        :alt="data.highlighted_customer.image.alt"
      />
      <a class="highlight__link"
         :href="data.highlighted_customer.url"
         :data-ga-name="data.highlighted_customer.data_ga_name"
         :data-ga-location="data.highlighted_customer.data_ga_location"
         target="_blank">
        <div class="main-highlight__card">
          <h4 class="slp-mb-16">
            <span class="highlight__bold">{{
              data.highlighted_customer.name
            }}</span>
            {{ data.highlighted_customer.impact }}
          </h4>
          <ul>
            <li
              v-for="stat in data.highlighted_customer.stats"
              :key="stat.qualifier"
              class="slp-flex slp-align-items-center slp-mb-8"
            >
              <img :src="stat.icon" />
              <p class="slp-ml-16">
                <span class="highlight__bold">{{ stat.quantifier }}</span>
                {{ stat.qualifier }}
              </p>
            </li>
          </ul>
        </div>
      </a>

    </div>
    <SlpRow>
      <SlpColumn
        v-for="customer in data.customers"
        :key="customer.name"
        size="lg"
        class="highlight"
      >
        <img class="highlight__logo" :src="customer.logo" />
        <img
          class="highlight__image"
          :src="customer.image.image_url"
          :alt="customer.image.alt"
        />
        <a class="highlight__link"
           :href="customer.url"
           :data-ga-name="customer.data_ga_name"
           :data-ga-location="customer.data_ga_location"
           target="_blank">
          <div class="highlight__card">
            <img class="highlight__icon" :src="customer.icon" />
            <h4 class="slp-mb-8">
              <span class="highlight__bold">{{ customer.name }}</span>
              {{ customer.impact }}
            </h4>
            <ul>
              <li
                v-for="stat in customer.stats"
                :key="stat.qualifier"
                class="slp-flex slp-align-items-center slp-mb-8"
              >
                <p>
                  <span class="highlight__bold">{{ stat.quantifier }}</span>
                  {{ stat.qualifier }}
                </p>
              </li>
            </ul>
          </div>
        </a>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
export default Vue.extend({
  name: 'EnterpriseHighlights',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.customer-highlights {
  position: relative;
  z-index: 1;
  margin-top: $spacing-128;

  @media (max-width: $md) {
    margin-top: $spacing-48;
  }
}

.main-highlight {
  position: relative;

  &__image {
    width: 100%;
  }

  @media (max-width: $lg) {
    margin-bottom: $spacing-132;
  }

  @media (max-width: $md) {
    margin-bottom: 14rem;
  }

  &__card {
    background-color: $white;
    padding: $spacing-64;
    position: absolute;
    top: 100px;
    right: 100px;
    max-width: 50%;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    }

    @media (max-width: $lg) {
      max-width: 90%;
      left: 10%;
      top: initial;
      bottom: -60px;
      padding: $spacing-32 $spacing-16 $spacing-16 $spacing-16;
    }

    @media (max-width: $md) {
      max-width: 90%;
      bottom: -180px;
      left: 5%;
      right: 0;

      h4 {
        font-size: $font-size-md;
      }
    }
  }
}

.highlight {
  position: relative;
  margin-left: $spacing-4;
  margin-bottom: $spacing-128;
  width: 100%;

  @media (max-width: $lg) {
    margin-bottom: $spacing-128;
  }

  @media (max-width: $lg) {
    margin-bottom: 10rem;
  }

  &:first-child {
    margin-right: $spacing-4;
    margin-left: $spacing-0;
  }

  &__bold {
    font-weight: $font-weight-bold;
  }

  &__image {
    width: 100%;
  }

  &__link {
    color: $charcoal;
  }

  &__logo {
    position: absolute;
    max-width: 200px;
    top: 35px;
    left: 35px;

    @media (max-width: $md) {
      max-width: 100px;
    }
  }

  &__icon {
    position: absolute;
    top: -$spacing-16;
    left: $spacing-16;
  }

  &__link {
    color: $charcoal;
  }

  &__card {
    background-color: $white;
    padding: $spacing-64;
    position: absolute;
    max-width: 90%;
    bottom: -140px;
    left: 5%;
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
    }

    @media (max-width: $lg) {
      padding: $spacing-32 $spacing-16 $spacing-16 $spacing-16;
      bottom: -60px;
      font-size: $font-size-md;
    }

    @media (max-width: $md) {
      bottom: -100px;

      h4 {
        font-size: $font-size-md;
      }
    }
  }
}
</style>
