<template>
  <section class="feature-list">
    <SlpRow class="slp-mb-24">
      <SlpColumn class="feature-list-header" :cols="7">
        <img :src="data.icon" />
        <h3 class="slp-mb-8 slp-text-xxl">{{ data.title }}</h3>
        <p class="slp-mb-24 slp-text-lg">{{ data.subtitle }}</p>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="slp-justify-content-center">
      <SlpColumn
        v-for="feature in data.features"
        :key="feature.title"
        class="feature"
        :cols="5"
      >
        <a class="feature__link"
           :href="feature.url"
           :data-ga-name="feature.data_ga_name"
           :data-ga-location="feature.data_ga_location"
           target="_blank">
          <img class="feature__icon" :src="feature.icon" />
          <p class="feature__title slp-text-base-bold">{{ feature.title }}</p>
          <p class="feature__description slp-text-base">{{ feature.description }}</p>
          <ul
            v-for="subfeature in feature.subfeatures"
            :key="subfeature.title"
            class="feature__subfeatures"
          >
            <li class="feature__subfeature slp-text-base">{{ subfeature.title }}</li>
          </ul>
        </a>
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'EnterpriseFeatureList',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.feature-list {
  position: relative;
  z-index: 1;
  margin-top: $spacing-128;

  @media (max-width: $md) {
    margin-top: $spacing-48;
  }
}

.feature-list-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  padding: $spacing-32;
  margin: $spacing-8;
  margin-bottom: $spacing-32;
  background-color: $white;
  border-radius: 4px;
  position: relative;

  &:hover {
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.08);
  }

  &__icon {
    position: absolute;
    top: -$spacing-16;
  }

  &__link {
    color: $charcoal;
  }

  &__description {
    margin-bottom: $spacing-16;
  }

  &__subfeatures {
    list-style: disc;
    margin-left: $spacing-48;
  }

  &__subfeature {
    margin-top: $spacing-8;
  }
}
</style>
