<template>
  <div v-if="variant === 'image'" class="slp-free-trial-cta">
    <div class="slp-flex slp-align-items-center" style="flex-direction: column;">
      <img class="slp-mb-16" src="https://about.gitlab.com/images/enterprise/gitlab-enterprise-icon-accent-01.svg" />
      <img class="slp-free-trial-cta__image" src="https://about.gitlab.com/images/enterprise/gitlab-enterprise-team-member-photos.png" />
    </div>
    <h3 class="slp-free-trial-cta__title slp-my-16 slp-text-xxl">{{ data.title }}</h3>
    <h2 class="slp-free-trial-cta__subtitle slp-mb-16 slp-text-lg">{{ data.subtitle }}</h2>
    <div>
      <SlpButton :href="data.button_1_url"
                 :dataGaName="data.button_1_data_ga_name"
                 :dataGaLocation="data.button_1_data_ga_location"
        >{{ data.button_1 }}
      </SlpButton>
      <SlpButton
        class="slp-ml-4"
        variant="outline"
        :href="data.button_2_url"
        :dataGaName="data.button_2_data_ga_name"
        :dataGaLocation="data.button_2_data_ga_location"
        >{{ data.button_2 }}</SlpButton
      >
    </div>
  </div>
  <div v-else>
    <div class="slp-free-trial-cta">
      <img class="slp-mb-16" src="https://about.gitlab.com/images/enterprise/gitlab-enterprise-icon-accent-01.svg" />
      <h3 class="slp-free-trial-cta__title">{{ data.title }}</h3>
      <h2 class="slp-free-trial-cta__subtitle slp-mb-16">{{ data.subtitle }}</h2>
      <div>
        <SlpButton variant="charcoal" :href="data.button_1_url">{{
          data.button_1
        }}</SlpButton>
        <SlpButton
          class="slp-ml-4"
          variant="outline"
          :href="data.button_2_url"
          >{{ data.button_2 }}</SlpButton
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'

export default Vue.extend({
  name: 'FreeTrialCTA',
  components: {
    SlpButton,
  },
  props: {
    variant: {
      type: String,
      required: false,
      default: 'standard',
    },
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.slp-free-trial-cta {
  max-width: 550px;
  text-align: center;
  margin: $spacing-128 auto;

  &__image {
    width: 213px;
  }

  @media (max-width: $md) {
    margin: $spacing-64 auto;
    text-align: center;

    .slp-btn {
      width: 100%;
      margin: $spacing-4 0 !important;
    }

    &__title {
      font-size: $font-size-xl;
      line-height: $line-height-xl;
    }

    &__subtitle {
      font-size: $font-size-md;
      line-height: $line-height-base;
    }
  }
}
</style>
