<template>
  <SlpContainer>
    <component
      :is='component.name'
      v-for='component in education.components'
      :key='component.name'
      :data='component.data'
    ></component>
    <FreeTrialCTA variant='image' type='pricing' />
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SolutionsCallToAction from '~/components/cta.vue'
import SlpContainer from '~/components/container.vue'
import CopyMedia from '~/components/copy-media.vue'
import SolutionsCarouselVideos from '~/components/solutions/carousel-videos.vue'
import CaseStudies from '~/components/solutions/case-studies.vue'
import ImageCard from '~/components/solutions/image-card.vue'
import SlpTable from '~/components/table.vue'
import Copy from '~/components/copy.vue'
import LinkCards from '~/components/link-cards.vue'
import TabsMenu from '~/components/tabs-menu.vue'
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    TabsMenu,
    LinkCards,
    Copy,
    ImageCard,
    CaseStudies,
    SolutionsCallToAction,
    SlpContainer,
    CopyMedia,
    SolutionsCarouselVideos,
    SlpTable
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const education = await $content(`solutions/education/${params.education ? params.education : 'index'}`).fetch()
      return { education }
    } catch (e) {
      console.error(e)
      error({ statusCode: 404 })
    }
  },
  head() {
    return getPageMetadata((<any>this).education)
  }
})
</script>

<style scoped lang='scss'>

</style>
