<template>
  <div class='animation-icons'>
    <div v-for='(icon, index) in icons' class='animation-icons__icon' :style="`animation-delay: ${getDelay()}s`" :key='index'>
      <img :src='icon' />
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'

export default Vue.extend({
  name: 'AnimationIconBackground',
  computed: {
    icons() {
      return require.context('@/static/nuxt-images/icons/sdlc-icons')
        .keys()
        .map(
          (icon: string) => `/nuxt-images/icons/sdlc-icons/${icon.replace('./', '')}`
        )
    },
  },
  methods:{
    getDelay(){
      return Math.floor(Math.random() * (10 - 1) + 1);
    }
  }
})
</script>

<style scoped lang='scss'>
@import '~assets/css/variables';

@keyframes fadeAnimatedIcon {
  from {
    opacity: .3;
  }

  to {
    opacity: 0;
    transform: translateY(400px);
  }
}

.animation-icons {
  position: absolute;
  width: calc(100% - 40px);
  left: 20px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    height: 30px;
    opacity: 0;
    animation: fadeAnimatedIcon 12s linear infinite forwards;

    img {
      height: 100%;
      fill: $secondary;
      pointer-events: none;
    }

    @media all and (max-width: $md) {
      display: none;
    }
  }
}

</style>
