<template>
  <section class='slp-mb-64 ' :class="{'full-background': data.full_background}" :data-aos='data.aos_animation' :data-aos-duration='data.aos_duration' data-aos-once='true' data-aos-easing='ease-in'>
    <slp-row v-if='data.header'>
      <slp-column>
        <h2 class="header">{{data.header}}</h2>
        <p v-if="data.description" class="description subtitle" v-html="$md.render(data.description)"></p>
      </slp-column>
    </slp-row>
    <slp-row :class='{grid: data.cards_per_row}'
             :style="{'grid-template-columns': `repeat(${data.cards_per_row}, 1fr`}">
      <slp-column v-for='benefit in data.benefits' :key='benefit.title' class='card slp-card' :class='data.text_align'>
        <img class='icon' :src='benefit.icon' />
        <h4 class='title'>{{ benefit.title }}</h4>
        <div v-if='benefit.description' class='description' v-html='$md.render(benefit.description)'></div>
        <iframe
          v-if='benefit.video'
          :src='benefit.video.video_url'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowfullscreen
        />
        <a class='card__link' v-if='benefit.link' :href='benefit.link.url'>{{ benefit.link.text }} →</a>
      </slp-column>
    </slp-row>
  </section>
</template>

<script>
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default {
  components: {
    SlpColumn,
    SlpRow
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
}
</script>

<style lang='scss' scoped>
@import '~/assets/css/variables';

$video-height: 315px;

section {
  position: relative;
}

.full-background {
  background-color: $grey-background;
  margin: 0 calc(50% - 50vw);
  box-sizing: border-box;
  padding: 0 calc(50vw - 50%) $spacing-96;
}

.header {
  text-align: center;
  margin: $spacing-96 auto 1rem auto;
  line-height: 36px;
}

.description, .subtitle {
  line-height: $line-height-base;
  font-size: $font-size-base;
  margin: 0 auto;
}

.description {
  margin-bottom: 42px;
}

.subtitle {
  width: 66%;
  text-align: center;
}

.card {
  padding: $spacing-32;
  margin-right: $spacing-32;
  background: $white;
  position: relative;
  height: 100%;
  text-align: center;

  &__link {
    justify-self: flex-end;
  }

  .description, .title {
    font-size: $font-size-base;
  }

  .title {
    font-size: $font-size-lg;
    line-height: $line-height-sm;
    margin-bottom: $spacing-16;
  }

  .icon {
    max-height: 35px;
    max-width: 48px;
    position: absolute;
    top: -1rem;
  }

  a {
    font-weight: 700;
    text-decoration-color: rgb(155, 81, 224);
  }

  iframe {
    height: calc(#{$video-height} / 2);
    width: 100%;

    @media (min-width: $sm) {
      height: $video-height;
    }
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }

  &.left {
    text-align: left;
  }
}

.grid {
  display: grid;
  column-gap: 30px;
  row-gap: 48px;
  margin: 42px auto 0 auto;
  max-width: 100%;
  @media (max-width: 1024px) {
    // using important as the grid template columns property is being set as an inline style in the template above
    // in order to support card number per row config through the yml file.
    grid-template-columns: 1fr !important;
  }
}
</style>
