<template>
  <a class="slp-btn" :class="className" :href="href" :data-ga-name="dataGaName" :data-ga-location="dataGaLocation">
    <slot></slot>
  </a>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpButton',
  props: {
    variant: {
      type: String,
      required: false,
      default: 'primary',
    },
    size: {
      type: String,
      required: false,
      default: 'md',
    },
    flex: {
      type: Boolean,
      required: false,
      default: false,
    },
    href: {
      type: String,
      required: false,
      default: null,
    },
    dataGaName: {
      type: String,
      required: false,
      default: null
    },
    dataGaLocation: {
      type: String,
      required: false,
      default: null
    }
  },
  computed: {
    className(this: any): string {
      let classes = `slp-btn-${this.variant} `

      if (this.flex) {
        classes += 'slp-btn-flex'
      } else {
        classes += `slp-btn-${this.size}`
      }

      return classes
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~assets/css/variables';

.#{$prefix}-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  font-weight: $font-weight-bold;
  font-size: $font-size-btn;
  line-height: 1;
  transition: all .15s;
  transition-timing-function: ease-in-out;

  &:active{
    box-shadow: none;
  }
}

.#{$prefix}-btn-primary {
  background-color: #F96424;
  color: $white;
  border: 1px solid #F96424;

  &:hover {
    background-color: #e65328;
  }
}

.#{$prefix}-btn-outline {
  background-color: $white;
  color: $charcoal;
  border: 1px solid $charcoal;

  &:hover {
    background-color: $charcoal;
    color: $white;
    border: 1px solid $charcoal;
  }
}

.#{$prefix}-btn-charcoal {
  background-color: $charcoal;
  color: $white;
  border: 1px solid $charcoal;

  &:hover {
    background-color: $black;
    border: 1px solid $black;
  }
}

.#{$prefix}-btn-flex {
  width: 100%;
}

.#{$prefix}-btn-sm{
  padding: $spacing-8;
  font-size: $font-size-sm;
}
</style>
