<template>
  <div>
    <div v-for="block in data.block" :key="block.header" class="container">
      <span v-if="block.metadata" :id="block.metadata.id_tag || ''" :data-slippers-scroll="block.metadata.id_tag || ''"></span>
      <div
        class="copy"
        :class="{ 'copy__align_center header': block.align_center }"
      >
        <h3 v-if="block.header" class="slp-text-xxl slp-mb-8">{{ block.header }}</h3>
        <h4 v-if="block.subtitle">{{ block.subtitle }}</h4>
        <div class="copy__body">
          <div class="slp-mb-32" v-html="$md.render(block.text)"></div>
          <slp-button v-if="block.link_href"
                      :href="block.link_href"
                      :data-ga-name='block.link_data_ga_name'
                      :data-ga-location='block.link_data_ga_location'>
            {{block.link_text }}
          </slp-button>
        </div>
        <SlpHorizontalRule v-if="!block.hide_horizontal_rule" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'Copy',
  components: {
    SlpButton,
    SlpHorizontalRule,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~assets/css/variables';

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.copy {
  grid-column: 1 / span 12;
  @media (min-width: 1024px) {
    grid-column: 1 / span 12;
  }

  h4 {
    color: $charcoal;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    line-height: $line-height-sm;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }
  }

  &__body {
    grid-column: 1 / -1;
    color: $charcoal;

    &::v-deep p {
      margin-bottom: 1em;
      font-size: $font-size-base;
    }

    &::v-deep li {
      font-size: $font-size-base;
    }

    & ::v-deep p a {
      color: $secondary;
    }
  }

  &__align_center {
    text-align: center;
  }
}

.header {
  color: $charcoal;
  margin-bottom: $spacing-16;
}
</style>
