<template>
  <div>
    <div  v-for="(block, index) in data.block"
          :key='index'
          class="container">
      <span v-if="block.metadata" :id="block.metadata.id_tag || ''" :data-slippers-scroll="block.metadata.id_tag || ''"></span>
      <div class="copy first-block" :class="{'first-block--inverted': block.inverted, 'first-block--column': block.column}">
        <h3 v-if="block.header" class="header slp-text-xxl">{{ block.header }}</h3>
        <h4 v-if="block.subtitle">{{ block.subtitle }}</h4>
        <div class="copy__body">
          <div v-if="block.text" class="slp-mb-32" v-html="$md.render(block.text)"></div>
          <slp-button v-if="block.link_href" :href="block.link_href" :data-ga-name='block.link_data_ga_name' :data-ga-location='block.link_data_ga_location'>{{ block.link_text }}</slp-button>
          <slp-button v-if="block.secondary_link_href" :href="block.secondary_link_href" variant="outline" :data-ga-name='block.secondary_link_data_ga_name' :data-ga-location='block.secondary_link_data_ga_location'>{{ block.secondary_link_text }}</slp-button>
        </div>
      </div>
      <div class='media second-block'
           :class="{'second-block--inverted': block.inverted, 'second-block--column': block.column, 'second-block--media': block.image || block.video}">
        <iframe
          v-if='block.video'
          :src='block.video.video_url'
          width='560'
          height='315'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowfullscreen
        />
        <div
          class='img-container'
          v-else-if="block.image"
          :class="{'centered' : block.image.vertical_centered}">
          <img
              :src="block.image.image_url"
              :alt="block.image.alt"
              :style='{filter: block.image.svg_filter_style}'/>
          <div
            v-if="block.image.caption"
            class="image-caption"
            v-html="$md.render(block.image.caption)">
          </div>
        </div>
        <div v-else-if="block.miscellaneous" class='copy copy__body' v-html="$md.render(block.miscellaneous)"></div>
        <slp-button v-if="block.media_link_href" :href="block.media_link_href" :data-ga-name='block.media_link_data_ga_name' :data-ga-location='block.media_data_ga_location'>{{ block.media_link_text }}</slp-button>
      </div>
      <div class='copy__bottom_text'>
        <h2 v-if='block.bottom_text'> {{ block.bottom_text }} </h2>
      </div>
      <SlpHorizontalRule v-if='!block.hide_horizontal_rule'/>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'CopyMedia',
  components: {
    SlpButton,
    SlpHorizontalRule
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  }
})
</script>

<style lang='scss' scoped>
@import '~assets/css/variables';

a{
  margin: 1rem 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: $spacing-32;
  margin: 0 auto;
  max-width: 100%;
  position: relative;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
  }

  hr {
    grid-column: 1 / span 12;
  }
}

.header {
  color: $charcoal;
  margin-bottom: 16px;
}

.copy {

  &::v-deep h3{
    margin-bottom: $spacing-8;
  }

  h4 {
    color: $charcoal;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    line-height: $line-height-sm;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      font-size: $font-size-lg;
    }
  }

  &__body {
    grid-column: 1 / -1;
    color: $charcoal;

    &::v-deep p {
      margin-bottom: 1em;
      font-size: $font-size-base;
    }

    &::v-deep li {
      font-size: $font-size-base;
    }

    & ::v-deep p a {
      color: $secondary;
    }
  }
}

.copy__bottom_text {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    grid-row: 2/3;
  }
}

.media {
  .image-caption {
    font-style: italic;
    font-size: 14px;
  }

  img {
    width: 100%;
    object-fit: scale-down;
    max-height: 20rem;
  }

  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #F2F2F2;
  }
}

.first-block {
  grid-column: 1 / 12;

  &--column {
    grid-column: 1 / 12;

    &.first-block--inverted {
      grid-row: 2;
    }
  }

  @media (min-width: 1024px) {
    grid-column: 1 / span 6;
    padding-right: $spacing-16;
    padding-left: 0;

    &--inverted {
      grid-column: 7 / span 6;
      padding-right: 0;
      padding-left: $spacing-16;
    }

    &--column {
      grid-column: 1 / span 12;
    }
  }
}

.second-block {
  grid-column: 1 / 12;
  min-height: 200px;

  &--media {
    min-height: 200px;
  }

  &--column {
    grid-column: 1 / 12;

    &.second-block--inverted {
      grid-row: 1;
    }
  }

  @media (min-width: 1024px) {
    grid-column: 7 / span 6;
    padding: 0;

    &--inverted {
      grid-column: 1 / span 6;
      padding: 0;
    }

    &--column {
      grid-column: 1 / span 12;
    }

    &--column + &--inverted {
      grid-row: 1;
    }

    &--centered {
      align-self:center;
    }
  }

  & > div {
    width: 100%;

    &.centered {
      align-self: center;
    }
  }
}

</style>
