<template>
  <div v-if="variant === 'image'" class="slp-free-trial-cta">
    <img class="slp-mb-16" :src="content.image_variant.confetti" />
    <img class="slp-free-trial-cta__image" :src="content.image_variant.image" />
    <h3 class="slp-my-16">{{ content.title }}</h3>
    <p class="slp-mb-16">{{ content.subtitle }}</p>
    <div>
      <SlpButton :href="content.image_variant.contact_sales_button.link"
                 :dataGaName="content.image_variant.contact_sales_button.data_ga_name"
                 :dataGaLocation="content.image_variant.contact_sales_button.data_ga_location"
        >{{ content.image_variant.contact_sales_button.text }}
      </SlpButton>
      <SlpButton
        class="slp-ml-4"
        variant="outline"
        :href="content.image_variant.free_trial_button.link"
        :dataGaName="content.image_variant.free_trial_button.data_ga_name"
        :dataGaLocation="content.image_variant.free_trial_button.data_ga_location"
        >{{ content.image_variant.free_trial_button.text }}</SlpButton
      >
    </div>
  </div>
  <div v-else>
    <div class="slp-free-trial-cta">
      <img class="slp-mb-16" :src="content.confetti" />
      <h2>{{ content.title }}</h2>
      <h4 class="slp-mb-16">{{ content.subtitle }}</h4>
      <div>
        <SlpButton variant="charcoal"
                   :dataGaName="content.free_trial_button.data_ga_name"
                   :dataGaLocation="content.free_trial_button.data_ga_location"
                   :href="content.free_trial_button.link"
        >{{content.free_trial_button.text }}</SlpButton>
        <SlpButton
          class="slp-ml-4"
          variant="outline"
          :href="content.contact_sales_button.link"
          :dataGaName="content.contact_sales_button.data_ga_name"
          :dataGaLocation="content.contact_sales_button.data_ga_location"
          >{{ content.contact_sales_button.text }}</SlpButton
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpButton from '~/components/button.vue'

export default Vue.extend({
  name: 'FreeTrialCTA',
  components: {
    SlpButton,
  },
  props: {
    variant: {
      type: String,
      required: false,
      default: 'standard',
    },
  },
  data() {
    return {
      content: [],
    }
  },
  async fetch() {
    const content = await this.$content('free-trial-cta').fetch() as any
    this.content = content
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.slp-free-trial-cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $spacing-128;

  &__image {
    width: 213px;
  }
}
</style>
