<template>
  <hr class="slp-hr" />
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpHorizontalRule',
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.slp-hr {
  width: 100%;
  margin: 64px 0px;
  border-top-width: 1px;
  border-top: 1px solid #eee;
}
</style>
