<template>
  <section class='slp-flex slp-flex-column slp-align-items-center'>
    <h3 class='slp-mb-24'>{{data.subtitle}}</h3>
    <div class='container slp-mb-64'>
      <a :href='card.url' class='card slp-card' v-for='card in data.cards' :key='card.title' :data-ga-name='card.data_ga_name'
         :data-ga-location='card.data_ga_location'>
        <div class='icon'>
          <img :src='card.icon' />
        </div>
        <div class='card__content'>
          <h4 class='title slp-text-lg slp-mb-8'>{{ card.title }}</h4>
          <p class='description slp-text-base'>{{ card.description }}</p>
        </div>
      </a>
    </div>
    <SlpHorizontalRule v-if='data.has_horizontal_rule'></SlpHorizontalRule>
  </section>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  components: { SlpHorizontalRule, SlpColumn },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
})
</script>

<style lang='scss' scoped>
@import '~/assets/css/variables';

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px 50px;
  width: 80%;
  margin: 0 10%;

  @media (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
  color: rgb(51, 51, 51);

  &:hover {
    .icon img {
      height: 56px;
      width: 56px;
    }

    .card__content{
      transform: translateY(4px);
    }
  }

  &__content {
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }

  .icon {
    height: 56px;
    width: 56px;

    img {
      width: 52px;
      height: 52px;
      transition: all 0.2s ease-in-out;
    }

    margin-bottom: 20px;
  }
}
</style>
