<template>
  <SlpContainer class='slp-mb-96 slp-mt-96' :data-aos='data.aos_animation' :data-aos-duration='data.aos_duration'
                data-aos-easing='ease-in' data-aos-once='true'>
    <SlpRow class='slp-mb-32 slp-justify-content-center'>
      <h2>{{ data.header }}</h2>
    </SlpRow>
    <SlpRow>
      <SlpColumn :cols='data.column_size' v-for='(logo,index) in data.logos' :key='index' class='logo'>
        <a class='logo__link'
           :href='logo.href'
           :data-ga-name='logo.data_ga_name'
           :data-ga-location='logo.data_ga_location'>
          <img class='logo__link--image' :src='logo.logo_url' :alt='logo.logo_alt' />
        </a>
      </SlpColumn>
    </SlpRow>
    <SlpRow class='slp-justify-content-center slp-mt-32'>
      <SlpButton v-if='data.button'
                 :variant='data.button.variant'
                 :href='data.button.href'
                 :data-ga-name='data.button.data_ga_name'
                 :data-ga-location='data.button.data_ga_location'>
        {{ data.button.text }}
      </SlpButton>
    </SlpRow>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpContainer from '~/components/container.vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import SlpButton from '~/components/button.vue'

export default Vue.extend({
  name: 'LogoLinks',
  components: { SlpButton, SlpRow, SlpColumn, SlpContainer },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
})
</script>

<style scoped lang='scss'>
@import '~/assets/css/variables';

.logo {
  width: inherit;
  max-width: 50%;

  &__link {
    display: flex;
    justify-content: center;
    opacity: .4;
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    transition: opacity 0.4s ease-in-out;
    max-width: 10rem;
    margin: 0 auto;

    &:hover {
      opacity: 1;
    }

    &--image {
      max-height: 75px;
      max-width: 100%;
    }
  }
}

</style>
