<template>
  <details>
    <summary>Having trouble viewing or submitting this form?</summary>
    <span class="cbnc-message-expandable" style="display: inline"
      >You may need to update your
      <button id="ot-sdk-btn" class="ot-sdk-show-settings" style="">
        Cookies Settings
      </button>
      to allow all cookies. You might also need to allow us on your adblocker,
      firewall, or browser privacy settings.</span
    >
  </details>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'OneTrustTroubleWarning',
})
</script>

<style lang="scss" scoped>
@import '~assets/css/variables';

details {
  background: $grayscale-highlight;
  padding: 6px 12px;
}

summary {
  color: $charcoal;
  font-weight: $font-weight-bold;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

#ot-sdk-btn.ot-sdk-show-settings,
#ot-sdk-btn.optanon-show-settings {
  border: none;
  font-size: unset !important;
  color: unset !important;

  padding: 0;
  text-decoration: underline;

  &:hover,
  &:focus {
    background: transparent !important;
  }
}
</style>
