<template>
  <section>
    <div class='container'>
      <svg
        width='30'
        height='25'
        fill='none'
        class='quote-icon'
      >
        <path
          d='M10.79.19C4.07 3.48.85 8.59.85 15.17c0 5.74 2.24 9.17 6.58 9.17 3.08 0 5.39-2.24 5.39-5.74 0-3.15-2.45-5.11-5.39-5.11-.21 0-.49 0-.7.07 0-4.2 2.1-6.79 6.3-8.89L10.79.19zm16.59 0c-6.72 3.29-10.01 8.4-10.01 14.98 0 5.74 2.31 9.17 6.65 9.17 3.08 0 5.32-2.24 5.32-5.74 0-3.15-2.38-5.11-5.32-5.11-.21 0-.49 0-.7.07 0-4.2 2.1-6.79 6.3-8.89L27.38.19z'
          fill='#9B51E0'
        ></path>
      </svg>
      <p class='quote'>{{ data.quote }}</p>
      <p class='source'>{{ data.source }}</p>
      <cite class='cite'>{{ data.cite }}</cite>
      <a
        v-if='data.link_href'
        :href='data.link_href'
        class='slp-mb-16 slp-text-xxs'
        variant='primary'
        :data-ga-name='data.data_ga_name'
        :data-ga-location='data.data_ga_location'
      >
        {{ data.link_text }} →
      </a>
    </div>
    <SlpHorizontalRule />
  </section>
</template>


<script lang='ts'>
import Vue from 'vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'pull-quote',
  components: {
    SlpHorizontalRule
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  }
})
</script>

<style lang='scss' scoped>
@import '~assets/css/variables';

.container {
  display: flex;
  padding: 54px 95px;
  margin: 0 auto;
  max-width: 80%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 21px 21px 0 #F2F2F2;

  .quote {
    font-size: $font-size-xl;
    line-height: 38px;
    margin-bottom: $spacing-32;
  }

  .quote-icon {
    margin-bottom: $spacing-32;
  }

  .source {
    font-weight: 700;
    font-size: $font-size-base;
    line-height: 2rem;
  }

  .quote {
    font-style: italic;
    line-height: 38px;
  }

  .cite {
    font-style: normal;
    font-size: $font-size-xxs;
  }

  a {
    color: #7D2BD9;
    font-size: $font-size-sm;
    line-height: 2rem;
    letter-spacing: 1px;
    margin-bottom: $spacing-48;
  }
}
</style>
