<template>
  <div class="slp-row">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'SlpRow',
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.#{$prefix}-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
</style>
