<template>
  <div class='side-menu'>
    <ul class='side-menu__list'>
      <li class='side-menu__item' v-for='(link, index) in links' :key='index'>
        <router-link class='side-menu__link'
                     :class="{'side-menu__link--active': withScroll && currentLinkIndex === index}"
                     :active-class="!withScroll ? 'side-menu__link--active' : ''"
                     :to='link.href'
                     :data-ga-name='link.data_ga_name'
                     :data-ga-location='link.data_ga_location'
        >{{ link.text }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import { scrollActions } from '~/lib/scrollActions'

export default Vue.extend({
  name: 'SideMenu',
  props: {
    links: {
      type: Array,
      required: true,
      default: null
    },
    withScroll: {
      type: Boolean,
      required: false,
      default: false
    },
    sensitivity: {
      type: Number,
      required: false,
      default: 0.5
    }
  },
  data() {
    return {
      currentLinkIndex: 0
    }
  },
  mounted() {
    window.addEventListener('load', () => {
      const config = {
        observerOptions: {
          root: null,
          rootMargin: '0px',
          threshold: this.sensitivity
        },
        targetIdentifiers: this.links.map((link: any) => link.href.replace('#', '')),
        warningLabel: 'SideMenu'
      }
      const callback = (entries: any[]) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            this.currentLinkIndex = this.links.findIndex((item: any) => item.href === `#${entry.target.id}`)
          }
        })
      }
      scrollActions(config, callback)
    })
  }
})
</script>

<style scoped lang='scss'>
@import '~/assets/css/variables';

$link-transition: 0.2s;

.side-menu {
  display: none;
  top: 6rem;
  right: 0;
  max-width: 32rem;

  @media (min-width: $xl) {
    transform: none;
    width: max-content;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
  }

  &__list {
    margin-bottom: 1.25rem;
    text-align: right;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 1.2rem;
    width: 20rem;
  }

  &__link {
    position: relative;
    padding-right: 74px;
    text-decoration: none;
    font-size: $font-size-base;
    cursor: pointer;
    transition: all ease-in $link-transition;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .15s ease;
      width: 3.8rem;
    }

    &:hover {
      text-decoration: none;
    }

    &--active {
      padding-right: 98px;
      font-weight: 600;

      &:after {
        width: 86px;
      }
    }

    &--active:after,
    &:hover:after,
    &:active:after {
      background-color: $secondary;
      height: 2px;
      transition: all ease-in $link-transition;
    }
  }
}
</style>
