<template>
  <router-link
    class="btn__tab"
    :to="href"
    :data-ga-name="dataGaName"
    :data-ga-location="dataGaLocation"
    >{{ text }}
  </router-link>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'Tab',
  props: {
    text: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      required: true,
    },
    dataGaName: {
      type: String,
      required: true
    },
    dataGaLocation: {
      type: String,
      required: true
    }
  },
})
</script>
<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.btn__tab {
  border: 2px solid transparent;
  cursor: pointer;
  color: $secondary;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    border-bottom-color: $secondary;
  }
}
</style>