<template>
  <div class="container">
    <h2 v-if="data.title" class="slp-text-xxl">{{ data.title }}</h2>
    <p v-if="data.text">{{ data.text }}</p>
    <table :class="{'full-width': data.full_width}">
      <thead>
        <tr v-if="data.headers">
          <th
            v-for="header in data.headers"
            :key="header"
            v-html="$md.render(header)"
          ></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, rowIndex) in data.rows" :key="rowIndex">
          <td
            v-for="column in row.columns"
            :key="column"
            v-html="$md.render(column)"
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~assets/css/variables';

  .container {
    margin: 15px;
    overflow-x: auto;

    h2 {
      margin-bottom: 20px;
      font-size: 23px;
      font-weight: 600;
    }
    p {
      font-size: $font-size-base;;
    }
  }

  table {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 80%;
    margin: 20px auto;

    &.full-width {
      width: 100%;
    }
  }

  tr {

    td, th {
      width: 100%;
      text-align: left;
      padding: 10px 25px;
    }
  }

  thead {
    tr:first-child {
      th {
        background: #F8F8F8;
      }
    }
  }

  tbody {
    tr:nth-child(even){
      td {
        background: #F8F8F8;
      }
    }
    tr {
      td:last-child {
        margin: 0;
      }
    }
  }

</style>
