<template>
  <section ref='navbar' class='slp-mb-96 container'>
    <SlpContainer>
      <ul class='slp-flex slp-justify-content-between tabs__list'>
        <li v-for='item in data.menus' :key='item.text'>
          <Tab
            :text='item.text'
            :href="'#' + item.id_tag"
            :data-ga-name='item.data_ga_name'
            :data-ga-location='item.data_ga_location'
          />
        </li>
      </ul>
    </SlpContainer>
  </section>
</template>

<script lang='ts'>
/* Id tags used as reference for routing should match copy block header id
Example yml file:
      - name: 'tabs-menu'
        data:
        menus:
          - id_tag: why-digital-transformation
            text: Why Digital Transformation
      - name: 'copy'
        data:
          block:
            - header: Why Digital Transformation
                  metadata:
                    id_tag: why-digital-transformation
*/
import Vue from 'vue'
import Tab from '~/components/tab.vue'
import SlpContainer from '~/components/container.vue'

export default Vue.extend({
  name: 'TabsMenu',
  components: {
    SlpContainer,
    Tab
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  mounted() {
    const navbar = this.$refs.navbar as Element
    const sticky = navbar.getBoundingClientRect().top
    navbar.classList.remove('sticky')
    window.onscroll = () => {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add('sticky')
      } else {
        navbar.classList.remove('sticky')
      }
    }
  }
})
</script>
<style lang='scss' scoped>
@import '~/assets/css/base.scss';

.sticky {
  position: fixed;
  left: 0;
  width: 100vw;
  top: $spacing-64;
  z-index: $zindex-sticky;
  background-color: $secondary;
  border-radius: $spacing-4;
  padding: $spacing-8;
  transition: all 0.3s ease;

  & ul > li > a {
    color: $white;
  }
}

.container {
  @media (max-width: $md) {
    display: none;
  }
}

.tabs__list {
  flex-wrap: wrap;
}
</style>
