<template>
  <div class="navigation-desktop">
    <a href="/" class="navigation-home" title="GitLab" data-nav="logo">
      <slp-logo-gray class="navigation-home__logo" />
      <slp-icon class="navigation-home__icon" />
    </a>
    <div
      v-for="item in content"
      :key="item.heading"
      class="navigation-item"
      :class="`${item.url ? 'slp-p-0' : 'slp-p-16 slp-py-24'}`"
    >
      <slot v-if="item.url">
        <a :href="item.url" class="navigation-item__link" :data-nav="item.heading">{{ item.heading }}</a>
      </slot>
      <slot v-else>
        <p class="navigation-item__text" aria-haspopup="true">
          {{ item.heading }}
          <svg
            width="12"
            height="7"
            viewBox="0 0 12 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="navigation-item__chevron"
          >
            <path
              d="M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z"
            />
          </svg>
        </p>

        <div class="navigation-item__dropdown">
          <div class="navigation-dropdown">
            <div v-if="item.links[0].subheading" class="slp-flex">
              <div v-for="link in item.links" :key="link.name" :href="link.url">
                <p class="navigation-subheading">{{ link.subheading }}</p>
                <div class="navigation-grid">
                  <a
                    v-for="link in link.links"
                    :key="link.name"
                    :href="link.url"
                    class="navigation-grid-item"
                    :data-nav="link.name"
                  >
                    {{ link.name }}
                    <span class="navigation-grid-item__arrow">→</span>
                    <p class="navigation-grid-item__description">
                      {{ link.description }}
                    </p>
                  </a>
                </div>
              </div>
            </div>
            <div v-else class="navigation-grid">
              <div v-for="link in item.links" :key="link.name">
                <a class="navigation-grid-item" :href="link.url" :data-nav="link.name">
                  {{ link.name }}
                  <span class="navigation-grid-item__arrow">→</span>
                  <p class="navigation-grid-item__description">
                    {{ link.description }}
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </slot>
    </div>
    <div class="navigation-right">
      <button
        id="search-header"
        class="navigation-search js-search-toggle"
        aria-label="Search"
        type="button"
        @click="searchOnClick"
      >
        <slp-search class="navigation-search__icon" />
      </button>
      <SlpButton class="slp-mr-8" variant="outline" href="/sales" data-nav="sales"
        >Talk to an expert</SlpButton
      >
      <SlpButton
        href="https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=free-trial"
        data-nav="freetrial"
        >Get free trial</SlpButton
      >
      <a
        href="https://gitlab.com/users/sign_in"
        class="navigation-sign-in"
        data-nav="login"
        >Login</a
      >
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpLogoGray from '~/components/navigation/assets/logo-gray.vue'
import SlpIcon from '~/components/navigation/assets/icon.vue'
import SlpButton from '~/components/button.vue'
import SlpSearch from '~/components/navigation/assets/search.vue'

export default Vue.extend({
  name: 'SlpNavigationDesktop',
  components: {
    SlpLogoGray,
    SlpIcon,
    SlpButton,
    SlpSearch,
  },
  props: {
    content: {
      required: true,
      type: Array,
    },
    searchOnClick: {
      required: true,
      type: Function,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.navigation-desktop {
  display: none;
  background-color: $white;

  @media (min-width: $xl) {
    display: flex;
  }

  @media (min-width: $xxl) {
    padding-left: $spacing-16;
    padding-right: $spacing-16;
  }
}

.navigation-home {
  margin-right: $spacing-0;
  padding: $spacing-0;

  &__logo {
    position: relative;
    top: $spacing-8;

    @media (min-width: $xl) {
      display: none;
    }

    @media (min-width: $xxl) {
      display: inline-block;
    }
  }

  &__icon {
    position: relative;
    top: $spacing-4;
    padding: $spacing-8;
    padding-left: $spacing-16;

    @media (min-width: $xl) {
      display: inline-block;
    }

    @media (min-width: $xxl) {
      display: none;
    }
  }
}

.navigation-subheading {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: $font-size-xxs;
}

.navigation-item {
  display: inline;
  position: relative;
  cursor: default;
  height: 4rem;
  vertical-align: middle;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  line-height: 1.5rem;

  &__text {
    display: inline;
    padding: $spacing-4;
    margin-bottom: $spacing-0;
  }

  &__chevron {
    fill: $granite;
    width: 12px;
    height: 7px;
    margin-left: $spacing-4;
  }

  &__dropdown {
    position: absolute;
    left: -100vw;
    opacity: 0;
    transition-property: opacity;
    transform-origin: top right;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    color: $charcoal;
    padding: $spacing-16;
  }

  &__link {
    display: inline-block;
    color: $charcoal;
    padding: $spacing-24 20px;

    &:hover {
      color: $secondary;
    }
  }

  &:hover:after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    bottom: -18px;
    left: 47%;
    z-index: 101;
    position: absolute;
    background-color: $white;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }

  &:hover,
  &:focus-within {
    color: $secondary;

    .navigation-item__chevron {
      fill: $secondary;
    }

    .navigation-item__dropdown {
      left: -20px;
      display: inline;
      opacity: 1;
      top: 60px;
    }
  }

  &:focus {
    .navigation-item__dropdown {
      display: inline;
    }
  }
}

.navigation-dropdown {
  background-color: $white;
  padding: 20px $spacing-24;
  box-shadow: 0px 2px 50px rgb(0 0 0/8%);
  border-radius: 5px;
}

.navigation-grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-template-rows: repeat(4, auto);
  color: $secondary;
}

.navigation-grid-item {
  display: block;
  padding: 8px 10px;
  width: 274px;
  color: $secondary;

  &__description {
    color: $granite;
    font-size: 12px;
  }

  &__arrow {
    display: none;
  }

  &:hover {
    .navigation-grid-item__arrow {
      display: inline;
    }

    .navigation-grid-item__description {
      color: $charcoal;
    }
  }
}

.navigation-right {
  position: absolute;
  right: 6px;
  top: 0px;
  margin-top: $spacing-8;

  @media (min-width: $md) {
    right: 0;
  }

  @media (min-width: $lg) {
    right: 6px;
  }
}

.navigation-search {
  padding: $spacing-16;
  margin-right: $spacing-16;
  border: none;

  &__icon {
    display: inline;
  }
}

.navigation-sign-in {
  padding: $spacing-16;
  margin-left: $spacing-16;
  color: $charcoal;

  &:hover {
    color: $secondary;
  }
}
</style>
