<template>
  <div class="searchbox">
    <slp-search class="searchbox__icon" />
    <input
      ref="searchInput"
      class="searchbox__input st-header"
      type="text"
      placeholder="Search..."
      @keyup="search"
    />
    <button aria-label="Close search" class="searchbox__close" @click="onClose">
      &times;
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpSearch from '~/components/navigation/assets/search.vue'

export default Vue.extend({
  name: 'SlpSearchBar',
  components: {
    SlpSearch,
  },
  props: {
    onClose: {
      type: Function,
      required: true,
    },
  },
  methods: {
    search(event: KeyboardEvent) {
      const target = event.target as HTMLInputElement
      if (event.key === 'Enter' && target) {
        window.location.hash = '#stq=' + target.value
      }
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.searchbox {
  display: flex;
  align-items: center;
  position: fixed;
  top: 70px;
  left: 0;
  height: 58px;
  width: 100%;
  padding: 0 80px;
  z-index: 1000;
  background: $white;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);

  @media (max-width: $lg) {
    padding: 0 20px;
  }
}

.searchbox__input {
  width: calc(100% - 40px);
  height: 100%;
  margin: auto;
  padding: 0 10px;
  border: 0;
  color: $charcoal;
  background: $white;
  font-size: $font-size-base;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
  &:focus {
    outline: 0;
    border-color: #554488;
  }
}

.search__close {
  font-size: 1.33rem;
  font-weight: 400;
}

.searchbox__icon,
.searchbox__close {
  border: 0;
}
</style>
