// Override Marketo's label styles
.mktoForm .mktoRequiredField label.mktoLabel {
  color: $charcoal;
  font-size: 14px;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}

// Override Marketo's inputs styles
.mktoForm.mktoLayoutAbove .mktoField {
  border: 1px solid $charcoal;
  border-radius: 4px;
  color: $granite;
  display: block;
  font-size: 14px;
  margin-top: 0.4rem;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  }
}

.mktoForm button.mktoButton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 16px;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 1;
  background-color: $secondary;
  color: $white;
  border: 1px solid $secondary;
}

.mktoButtonWrap .mktoNative button {
  margin-left: -110px !important;
}
