$prefix: 'slp';
$max-columns: 12; // Columns in the grid

// Colors
$white: #fff !default;
$black: #000 !default;
$charcoal: #333 !default;
$granite: #666 !default;
$grayscale-highlight: #f2f2f2 !default;
$grayscale-secondary: #828282 !default;
$primary: #FA7035 !default;
$secondary: #9B51E0 !default;
$secondary-dark: #7225BA !default;
$grey-background: #f8f8f8 !default;
$secondary-light: #EBDDF8 !default;
$light-grey-background: rgba($charcoal, 0.8);
$color-transparent: rgba(0, 0, 0, 0);
$color-transparent-alt: rgba(0, 0, 0, .1);
$color-transparent-alt-darken: rgba(0, 0, 0, .2);
$color-transparent-alt-light: rgba(0, 0, 0, .05);
$color-transparent-alt-dark: rgba(0, 0, 0, .8);
$card-border: #f2f2f2;

$box-shadow: 0 2px 4px $color-transparent-alt;
$box-shadow-darken: 0 2px 4px $color-transparent-alt-darken;
$box-shadow-medium: 0 10px 20px $color-transparent-alt;
$box-shadow-large: 0 20px 40px $color-transparent-alt;
$dark-backdrop: rgba($charcoal, 0.85) !default;
$light-backdrop: #f8f8f8c4 !default;

// Shadows
$card-shadow: 0px 2px 50px rgba($charcoal, 0.08) !default;
$card-shadow-hover: 0px 2px 50px rgba($charcoal, 0.25) !default;
$slp-shadow: 0 1px 3px 0 rgba($charcoal, 0.1), 0 1px 2px 0 rgba($charcoal, 0.06) !default;
$slp-shadow-md: 0 4px 6px -1px rgba($charcoal, 0.1), 0 2px 4px -1px rgba($charcoal, 0.06) !default;
$slp-shadow-lg: 0 10px 15px -3px rgba($charcoal, 0.1), 0 4px 6px -2px rgba($charcoal, 0.05) !default;

// Spacing
$default-spacing: 1rem !default;

$spacing-0: 0 !default; // 0px
$spacing-4: $default-spacing * 0.25 !default; // 4px
$spacing-8: $default-spacing * 0.5 !default; // 8px
$spacing-12: $default-spacing * 0.75 !default; //10px
$spacing-16: $default-spacing; // 16px
$spacing-24: $default-spacing * 1.5 !default; // 24px
$spacing-32: $default-spacing * 2 !default; // 32px
$spacing-48: $default-spacing * 3 !default; // 48px
$spacing-64: $default-spacing * 4 !default; // 64px
$spacing-96: $default-spacing * 6 !default; // 96px
$spacing-128: $default-spacing * 8 !default; // 128px
$spacing-132: $default-spacing * 8.25 !default; // 132px
$spacing-264: $default-spacing * 16.5 !default; // 264px

$spacing: (
  0: $spacing-0,
  4: $spacing-4,
  8: $spacing-8,
  16: $spacing-16,
  24: $spacing-24,
  32: $spacing-32,
  48: $spacing-48,
  64: $spacing-64,
  96: $spacing-96,
  128: $spacing-128,
  132: $spacing-132,
  264: $spacing-264
);

$spacing-shortcuts: ("margin": "m", "padding": "p") !default;
$spacing-directions: ("top": "t", "right": "r", "bottom": "b", "left": "l") !default;
$spacing-horizontal: "x" !default;
$spacing-vertical: "y" !default;

$line-height-sm: 20px !default;
$line-height-base: 24px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

// Display XXL (5xl)
$font-size-5xl: 60px !default;
$line-height-5xl: 64px !default;

// Display XL (4xl)
$font-size-4xl: 45px !default;
$line-height-4xl: 52px !default;

// Display H1 (xxl)
$font-size-xxl: 32px !default;
$line-height-xxl: 36px !default;

// Display H2 (lg)
$font-size-lg: 23px !default;
$line-height-lg: 28px !default;
$font-size-2xl: 30px !default;

// Mobile display (3xl)
$font-size-3xl: 36px !default;
$line-height-3xl: 44px !default;

// Mobile H1 (xl)
$font-size-xl: 24px !default;
$line-height-xl: 30px !default;

// Mobile H2 (md)
$font-size-md: 19px !default;

// Base Sizes
$font-size-base: 16px !default; // BASE; and Display H3 (base-bold)
$font-size-sm: 14px !default; // SMALL; and Display H4 (sm-bold)
$font-size-xs: 12px !default; // EXTRA SMALL; and Display H5 (xs-bold)
$font-size-xxs: 10px !default;
$font-size-btn: 18px !default;



// Breakpoints
$xs: 0px !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$xxl: 1400px !default;

$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

// Z-Index
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-offcanvas: 1050;
$zindex-modal: 1060;
$zindex-popover: 1070;
$zindex-tooltip: 1080;

// Transitions
$transition-esase-in-out-300: all 0.3s ease-in-out;
