@import "variables";
@import "marketo";

html {
  scroll-behavior: smooth;
}

body {
  color: $charcoal;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: $font-size-base * 1.125;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a:not(.slp-btn) {
  text-decoration: none;
  color: $secondary;
}

p > a:not(.slp-btn), li a:not(.slp-btn) {
  color: $secondary;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: $font-weight-normal;
  color: inherit;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  font-size: $font-size-xl;
}

// Removes the default spacing and border for appropriate elements.
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
ul,
li,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

// base styles for copy blocks

.copy {
  ul {
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: $spacing-16;

    li {
      margin-top: .5em;
    }
  }
}

@each $property, $shortcut in $spacing-shortcuts {
  @each $name, $value in $spacing {
    // All directions
    .#{$prefix}-#{$shortcut}-#{$name} {
      #{$property}: $value !important;
    }

    // Cardinal directions
    @each $direction, $directional-shortcut in $spacing-directions {
      .#{$prefix}-#{$shortcut}#{$directional-shortcut}-#{$name} {
        #{$property}-#{$direction}: $value !important;
      }
    }

    // Horizontal axis
    @if $spacing-horizontal != null {
      .#{$prefix}-#{$shortcut}#{$spacing-horizontal}-#{$name} {
        #{$property}-left: $value !important;
        #{$property}-right: $value !important;
      }
    }

    // Vertical axis
    @if $spacing-vertical != null {
      .#{$prefix}-#{$shortcut}#{$spacing-vertical}-#{$name} {
        #{$property}-top: $value !important;
        #{$property}-bottom: $value !important;
      }
    }
  }
}

.#{$prefix}-flex {
  display: flex;
}

.#{$prefix}-flex-column {
  flex-direction: column;
}

.#{$prefix}-flex-row {
  flex-direction: row;
}

.#{$prefix}-justify-content-center {
  justify-content: center;
}

.#{$prefix}-justify-content-around {
  justify-content: space-around;
}

.#{$prefix}-justify-content-between {
  justify-content: space-between;
}

.#{$prefix}-align-items-center {
  align-items: center;
}

.#{$prefix}-text-align-center {
  text-align: center;
}

.#{$prefix}-text-5xl {
  font-size: $font-size-5xl;
  line-height: $line-height-5xl;
}

.#{$prefix}-text-4xl {
  font-size: $font-size-4xl;
  line-height: $line-height-4xl;
}

.#{$prefix}-text-3xl {
  font-size: $font-size-3xl;
  line-height: $line-height-3xl;
}

.#{$prefix}-text-xxl {
  font-size: $font-size-xxl;
  line-height: $line-height-xxl;
}

.#{$prefix}-text-xl {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}

.#{$prefix}-text-lg {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.#{$prefix}-text-md {
  font-size: $font-size-md;
  line-height: $line-height-base;
}

.#{$prefix}-text-md-bold {
  font-size: $font-size-md;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-base {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.#{$prefix}-text-base-bold {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-sm {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

.#{$prefix}-text-sm-bold {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-xs {
  font-size: $font-size-xs;
  line-height: $line-height-sm;
}

.#{$prefix}-text-xs-bold {
  font-size: $font-size-xs;
  line-height: $line-height-sm;
  font-weight: $font-weight-bold;
}

.#{$prefix}-text-xxs {
  font-size: $font-size-xxs;
  line-height: $line-height-sm;
}

.#{$prefix}-text-btn {
  font-size: $font-size-btn;
  line-height: $line-height-sm;
}

.#{$prefix}-text-granite {
  color: $granite;
}

.#{$prefix}-card {
  border: 1px solid $card-border;
  box-shadow: $card-shadow;
  border-radius: 4px;
  padding: $spacing-32;
  background: $white;
}

.#{$prefix}-position-relative{
  position: relative !important;
}

.slpEventNavigationLink {
  padding-right: 74px;
  position: relative;

  &::after {
    background: #f2f2f2;
    content: '';
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.15s ease;
    width: 61px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:hover::after,
  &:focus::after {
    height: 2px;
    background: $secondary;
  }

  &.active {
    padding-right: 98px;

    &::after {
      height: 2px;
      background: $secondary;
      width: 85px;
    }
  }
}
