<template>
  <svg
    width="118"
    height="52"
    viewBox="0 0 118 52"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path
        d="M77.7595 18.4363H75.7407L75.75 33.5526H83.9269V31.6828H77.7687L77.7595 18.4363Z"
        fill="#8C929D"
      />
      <path
        d="M91.7084 30.9001C91.1991 31.4303 90.3564 31.9606 89.2081 31.9606C87.6709 31.9606 87.0504 31.1978 87.0504 30.2024C87.0504 28.7047 88.0876 27.9885 90.2916 27.9885C90.7083 27.9885 91.375 28.035 91.7177 28.1001V30.9001H91.7084ZM89.6155 21.7373C87.9857 21.7373 86.4855 22.314 85.3187 23.2908L86.0318 24.5373C86.8559 24.0536 87.8653 23.5699 89.3192 23.5699C90.9768 23.5699 91.7084 24.4257 91.7084 25.8582V26.5931C91.3843 26.528 90.7175 26.4815 90.3101 26.4815C86.7726 26.4815 84.9761 27.728 84.9761 30.3327C84.9761 32.6675 86.4022 33.8396 88.5599 33.8396C90.0137 33.8396 91.4121 33.1699 91.8936 32.0815L92.264 33.5606H93.6901V25.821C93.6809 23.3745 92.6252 21.7373 89.6155 21.7373Z"
        fill="#8C929D"
      />
      <path
        d="M100.204 32.0297C99.4444 32.0297 98.7777 31.9366 98.2776 31.7041V25.4436V24.718C98.9629 24.1413 99.8149 23.7227 100.898 23.7227C102.852 23.7227 103.602 25.1087 103.602 27.3506C103.602 30.532 102.389 32.0297 100.204 32.0297ZM101.056 21.7413C99.25 21.7413 98.2776 22.9785 98.2776 22.9785V21.025L98.2684 18.439H97.3608H96.2959L96.3052 33.1831C97.296 33.6017 98.648 33.825 100.12 33.825C103.889 33.825 105.704 31.4064 105.704 27.2297C105.695 23.9273 104.019 21.7413 101.056 21.7413Z"
        fill="#8C929D"
      />
      <path
        d="M55.7793 20.0764C57.5665 20.0764 58.7241 20.6718 59.4742 21.2764L60.3447 19.7602C59.1686 18.7183 57.5758 18.1602 55.8719 18.1602C51.5751 18.1602 48.5654 20.7927 48.5654 26.1043C48.5654 31.6671 51.8158 33.8346 55.5293 33.8346C57.3906 33.8346 58.9741 33.3974 60.0113 32.9602L59.965 27.016V26.3183V25.1462H54.4551V27.016H57.974L58.0203 31.5276C57.5573 31.7602 56.7609 31.9462 55.6774 31.9462C52.6956 31.9462 50.6953 30.0578 50.6953 26.0857C50.6861 22.0392 52.7511 20.0764 55.7793 20.0764Z"
        fill="#8C929D"
      />
      <path
        d="M69.9964 18.4343H68.0239L68.0332 20.9739V22.0157V22.6204V23.6808V29.7273V29.746C68.0332 32.1925 69.0889 33.8297 72.0985 33.8297C72.5153 33.8297 72.9227 33.7925 73.3117 33.718V31.9413C73.0246 31.9878 72.719 32.0064 72.3949 32.0064C70.7373 32.0064 70.0057 31.1506 70.0057 29.718V23.6715H73.3117V22.0157H70.0057L69.9964 18.4343Z"
        fill="#8C929D"
      />
      <path
        d="M63.0078 33.5527H64.9802V22.0178H63.0078V33.5527Z"
        fill="#8C929D"
      />
      <path
        d="M63.0078 20.427H64.9802V18.4456H63.0078V20.427Z"
        fill="#8C929D"
      />
      <path
        d="M27.1124 40.4551L32.8722 22.6577H21.3608L27.1124 40.4551Z"
        fill="#E24329"
      />
      <path
        d="M13.2934 22.6577L11.5394 28.0648C11.3807 28.5558 11.5521 29.0977 11.971 29.4038L27.1126 40.455L13.2934 22.6577Z"
        fill="#FCA326"
      />
      <path
        d="M13.2935 22.6576H21.3611L17.889 11.9391C17.7113 11.3907 16.9369 11.3907 16.7528 11.9391L13.2935 22.6576Z"
        fill="#E24329"
      />
      <path
        d="M40.9403 22.6577L42.688 28.0648C42.8467 28.5558 42.6753 29.0977 42.2564 29.4038L27.1128 40.4551L40.9403 22.6577Z"
        fill="#FCA326"
      />
      <path
        d="M40.9402 22.6576H32.8726L36.3383 11.9391C36.516 11.3907 37.2904 11.3907 37.4745 11.9391L40.9402 22.6576Z"
        fill="#E24329"
      />
      <path
        d="M27.1128 40.4551L32.8727 22.6577H40.9403L27.1128 40.4551Z"
        fill="#FC6D26"
      />
      <path
        d="M27.1126 40.4551L13.2935 22.6577H21.3611L27.1126 40.4551Z"
        fill="#FC6D26"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="117.236" height="52" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
<script>
export default {
  name: 'SlpLogoGray',
};
</script>
