<template>
  <section>
    <slp-row class="header-container">
      <slp-column :cols="5" class="header slp-text-5xl">
        {{ data.header }}
      </slp-column>
      <slp-column
        :cols="7"
        class="description slp-text-base"
        v-html="$md.render(data.description)"
      >
      </slp-column>
    </slp-row>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
export default Vue.extend({
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.header {
  font-size: $font-size-3xl;
  line-height: $line-height-3xl;
}
.header-container{
    padding: 50px 15px;
}
.description{
  font-size: $font-size-sm;
}
</style>
