<template>
  <nav>
    <div class="nav__inner">
      <!-- Navbar brand -->
      <a :href="brandLink"><SlpEventNavigationLogo /></a>
      <!-- Details div -->
      <div class="nav__details">
        <p class="nav__details__location">
          {{ location }}
        </p>
        <p class="nav__details__date">
          {{ date }}
        </p>
      </div>
      <!-- Mobile Menu -->
      <SlpEventNavigationMobileMenu
        :links="links"
        :cta-link="ctaLink"
        :cta-text="ctaText"
      />
    </div>
    <!-- Desktop menu -->
    <SlpEventNavigationDesktopMenu
      :links="links"
      :cta-link="ctaLink"
      :cta-text="ctaText"
      :current-link-index="currentLinkIndex"
    />
  </nav>
</template>

<script>
import SlpEventNavigationLogo from './EventNavigationLogo'
import SlpEventNavigationMobileMenu from './EventNavigationMobileMenu'
import SlpEventNavigationDesktopMenu from './EventNavigationDesktopMenu'
import { scrollActions } from '~/lib/scrollActions'

export default {
  name: 'SlpEventNavigation',
  components: {
    SlpEventNavigationLogo,
    SlpEventNavigationMobileMenu,
    SlpEventNavigationDesktopMenu,
  },
  props: {
    brandLink: {
      type: String,
      required: true,
      default: '/',
    },
    ctaLink: {
      type: String,
      required: true,
      default: '#',
    },
    ctaText: {
      type: String,
      required: true,
      default: 'Primary CTA',
    },
    location: {
      type: String,
      required: false,
      default: '',
    },
    date: {
      type: String,
      required: false,
      default: '',
    },
    links: {
      type: Array,
      required: true,
      default: null,
    },
    sensitivity: {
      type: Number,
      required: false,
      default: 0.5,
    },
  },
  data() {
    return {
      currentLinkIndex: 0,
    }
  },
  mounted() {
    window.addEventListener('load', () => {
      const config = {
        observerOptions: {
          root: null,
          rootMargin: '0px',
          threshold: this.sensitivity,
        },
        targetIdentifiers: this.links.map((link) => link.href.split('#')[1]),
        warningLabel: 'SlpEventNavigation',
      }
      const callback = (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            this.currentLinkIndex = this.links.findIndex(
              (item) => item.href === `#${entry.target.id}`
            )
          }
        })
      }
      scrollActions(config, callback)
    })
  },
}
</script>

<style lang="scss" scoped>
nav {
  background: #fff;
  margin-bottom: 64px;
  position: sticky;
  top: 0;
  z-index: 1020;

  @media (min-width: 1024px) {
    margin-bottom: 132px;
    position: relative;
  }

  a {
    padding: 8px;
  }
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1024px) {
    padding: 20px 0;
    padding-left: 60px;
    width: 83.3333%;
  }
}

.nav__details {
  flex: 1;
  text-align: right;
  padding: 20px;
  @media (min-width: 1024px) {
    padding-left: 60px;
  }
}

.nav__details__location,
.nav__details__date {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.625;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}
</style>
