<template>
  <div class="mobileMenu">
    <button
      class="mobileMenu__toggle"
      title="Toggle menu"
      @click="mobileMenuOpen = !mobileMenuOpen"
    >
      <SlpEventNavigationHamburger
        :style="`${mobileMenuOpen ? 'display: none;' : ''}`"
      />
      <SlpEventNavigationClose
        :style="`${mobileMenuOpen ? '' : 'display: none;'}`"
      />
    </button>
    <!-- Menu container -->
    <div class="mobileMenu__container" :style="containerStyle">
      <ul>
        <li v-for="link in links" :key="`eventNavigation${link.href}`">
          <a class="slpEventNavigationLink" :href="link.href">{{
            link.title
          }}</a>
        </li>
      </ul>
      <slp-button class="mobileMenu__container__cta" :href="ctaLink" :modifier="'secondary'">{{
        ctaText
      }}</slp-button>
    </div>
  </div>
</template>

<script>
import SlpEventNavigationClose from './EventNavigationClose'
import SlpEventNavigationHamburger from './EventNavigationHamburger'
import SlpButton from '~/components/button.vue'
export default {
  name: 'SlpEventNavigationMobileMenu',
  components: {
    SlpEventNavigationClose,
    SlpEventNavigationHamburger,
    SlpButton,
  },
  props: {
    links: {
      type: Array,
      required: true,
      default: null,
    },
    ctaLink: {
      type: String,
      required: true,
      default: '#',
    },
    ctaText: {
      type: String,
      required: true,
      default: 'Primary CTA',
    },
  },
  data() {
    return {
      mobileMenuOpen: false,
    }
  },
  computed: {
    containerStyle() {
      return this.mobileMenuOpen
        ? 'position: absolute; transform: translateX(0);'
        : 'position: fixed; transform: translateX(100%);'
    },
  },
}
</script>

<style lang="scss" scoped>
.mobileMenu {
  z-index: 100;
}

.mobileMenu__toggle {
  align-items: center;
  align-self: start;
  border: none;
  display: flex;
  height: 24px;
  justify-content: center;
  margin: 20px 16px;
  padding: 0;
  width: 24px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.mobileMenu__container {
  background: #fff;
  top: 100%;
  right: 0;
  transition: transform;
  max-width: 1400px;
  padding: 16px 0;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  width: 100vw;
  @media (min-width: 1024px) {
    align-self: flex-start;
    display: none;
    flex-direction: column-reverse;
    padding: 0;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
  }

  &.open {
    position: absolute;
    transform: translateX(0);
  }

  ul {
    text-align: right;
  }

  li {
    margin-bottom: 22px;
  }

  li a {
    color: #7d2bd9;
    font-size: 16px;
    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
}

.mobileMenu__container__cta {
  display: block;
  margin: 0 auto;
  width: 80%;
}
</style>
