<template>
  <div>
    <Navigation />
    <Nuxt />
    <Footer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Navigation from '~/components/navigation/navigation.vue'
import Footer from '~/components/footer/footer.vue'

export default Vue.extend({
  components: {
    Navigation,
    Footer,
  },
})
</script>
