<template>
  <component :is='errorPage' :error='error' />
</template>

<script lang='ts'>
import Vue from 'vue'
import error404 from '~/components/error/404-error.vue'

export default Vue.extend({
  name: 'Error',
  props: {
    error: {
      type: Object,
      default: () => {
      }
    }
  },
  computed: {
    errorPage() {
      return error404
    }
  }
})
</script>

<style scoped lang='scss'>
</style>
