<template>
  <SlpContainer class="container__company">
    <SlpColumn :cols="10">
      <component
        :is="component.name"
        v-for="component in doc.components"
        :key="component.name"
        :data="component.data"
      ></component>
    </SlpColumn>
    <SlpColumn :cols="10" size="xl">
      <div class="row video">
        <iframe
          width="100%"
          height="585"
          src="https://www.youtube.com/embed/MqL6BMOySIQ"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <h2 class="header">The open source project</h2>
      <div class="row">
        <DataCard
          v-for="card in doc.open_source_project.data_cards_box"
          :data="card"
          :key="card.copy"
        />
      </div>
      <div class="row">
        <CopyMediaCard
          v-for="card in doc.open_source_project.copy_media_large"
          :key="card.copy"
          :data="card"
        />
      </div>
      <h2 class="header">The company</h2>
      <div
        v-for="card in doc.company_section.copy_media_large_one"
        :key="card.copy"
        class="row"
      >
        <CopyMediaCard :data="card" />
      </div>
      <div class="row">
        <DataCard
          v-for="card in doc.company_section.data_cards_box_one"
          :key="card.copy"
          :data="card"
        />
      </div>
      <div
        v-for="card in doc.company_section.copy_media_large_two"
        :key="card.copy"
        class="row"
      >
        <CopyMediaCard :data="card" />
      </div>
      <div class="row">
        <DataCard
          v-for="card in doc.company_section.data_cards_box_two"
          :key="card.copy"
          :data="card"
        />
      </div>

      <div
        class="row"
        v-for="block in doc.company_section.copy_media_cards_box"
        :key="block.name"
      >
        <CopyMediaCard
          v-for="card in block.data"
          :key="card.copy"
          :data="card"
        />
      </div>
    </SlpColumn>
    <SlpRow>
      <SlpColumn>
        <FreeTrialCTA variant="image" type="pricing" />
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpContainer from '~/components/container.vue'
import SlpRow from '~/components/row.vue'
import CallToAction from '~/components/cta.vue'
import TabsMenu from '~/components/tabs-menu.vue'
import Copy from '~/components/copy.vue'
import CopyMedia from '~/components/copy-media.vue'
import { getPageMetadata } from '~/common/meta'
import SlpColumn from '~/components/column.vue'
import CopyCard from '~/components/company/copy-card.vue'
import DataCard from '~/components/company/data-card.vue'
import CopyMediaCard from '~/components/company/copy-media-card.vue'
import FreeTrialCTA from '~/components/free-trial-cta.vue'

export default Vue.extend({
  name: 'Company',
  components: {
    SlpColumn,
    SlpRow,
    TabsMenu,
    SlpContainer,
    CallToAction,
    Copy,
    CopyMedia,
    CopyCard,
    DataCard,
    CopyMediaCard,
    FreeTrialCTA,
  },
  async asyncData({ $content }) {
    const doc = await $content('company').fetch()
    return { doc }
  },
  head() {
    return getPageMetadata((<any>this).doc)
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.container__company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  @media (max-width: $md) {
    flex-wrap: wrap;
  }
}
.header {
  font-size: $font-size-xxl;
  text-align: center;
  margin: $spacing-96 $spacing-0 $spacing-48 $spacing-0;
}
.video {
  margin: $spacing-32 $spacing-0;
  iframe {
    border: none;
  }
}
</style>
