<template>
  <div>
    <SlpContainer>
      <EnterpriseCTA :data="doc.cta_block" />
      <EnterpriseShipFeaturesFaster :data="doc.ship_features_faster_block" />
    </SlpContainer>
    <SlpContainer variant="grey-50">
      <EnterpriseHighlights :data="doc.customer_highlight_block" />
    </SlpContainer>
    <SlpContainer variant="grey-100">
      <EnterpriseFeatureList :data="doc.feature_list_block" />
    </SlpContainer>
     <SlpContainer>
      <FreeTrialCTA :data="doc.free_trial_block" variant="image" />
    </SlpContainer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import EnterpriseCTA from '~/components/enterprise/cta.vue'
import EnterpriseFeatureList from '~/components/enterprise/feature-list.vue'
import EnterpriseHighlights from '~/components/enterprise/customer-highlights.vue'
import EnterpriseShipFeaturesFaster from '~/components/enterprise/ship-features-faster.vue'
import FreeTrialCTA from '~/components/enterprise/free-trial-cta.vue'
import SlpContainer from '~/components/container.vue'

export default Vue.extend({
  components: {
    EnterpriseCTA,
    EnterpriseFeatureList,
    EnterpriseHighlights,
    EnterpriseShipFeaturesFaster,
    FreeTrialCTA,
    SlpContainer,
  },
  async asyncData({ $content, params }: any) {
    const doc = await $content('enterprise', params.slug).fetch()
    return { doc }
  },
  head() {
    const title = 'GitLab for Enterprise - Collaboration made easy'
    const description =
      'Accelerate Enterprise software delivery with the GitLab DevOps Platform, lowering your development costs and streamlining team collaboration'
    const image = '/nuxt-images/open-graph/open-graph-enterprise.png'

    return {
      title,
      meta: [
        {
          hid: 'twitter: title',
          name: 'twitter:title',
          content: title,
        },
        { hid: 'description', name: 'description', content: description },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: description,
        },
        { hid: 'og:description', name: 'og:description', content: description },
        { hid: 'og:image', name: 'og:image', content: image },
        { hid: 'twitter:image', name: 'twitter:image', content: image },
      ],
    }
  },
})
</script>
