<template>
  <SlpContainer>
    <component :is='component.name' v-for='component in doc.components' :key='component.name'
               :data='component.data'></component>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpContainer from '~/components/container.vue'
import CallToAction from '~/components/cta.vue'
import SlpTable from '~/components/table.vue';
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    SlpContainer,
    SlpTable,
    CallToAction
  },
  async asyncData({ $content }) {
    const doc = await $content('get-started').fetch()
    return { doc }
  },
  head() {
    return getPageMetadata((<any>this).doc)
  }
})
</script>yarn