<template>
  <SlpContainer>
    <SideMenu v-if='doc.side_menu' :links='doc.side_menu.links'/>
    <SlpColumn :cols='10' size='xl'>
      <component :is='component.name' v-for='component in doc.components' :key='component.name'
                 :data='component.data'></component>
    </SlpColumn>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue';
import SlpContainer from '~/components/container.vue'
import CallToAction from '~/components/cta.vue'
import SideMenu from '~/components/side-menu.vue'
import Copy from '~/components/copy.vue'
import CopyMedia from '~/components/copy-media.vue'
import { getPageMetadata } from '~/common/meta'
import SlpColumn from '~/components/column.vue'

export default Vue.extend({
  name: 'GetHelp',
  components:{
    SlpColumn,
    SideMenu,
    SlpContainer,
    CallToAction,
    Copy,
    CopyMedia
  },
  async asyncData({ $content }) {
    const doc = await $content('get-help').fetch()
    return { doc }
  },
  head() {
    return getPageMetadata((<any>this).doc)
  }
})
</script>

<style scoped lang='scss'>

</style>
