<template>
  <SlpContainer>
    <component :is='component.name' v-for='component in doc.components' :key='component.name'
               :data='component.data'></component>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpContainer from '~/components/container.vue'
import CallToAction from '~/components/cta.vue'
import SlpTable from '~/components/table.vue';
import Copy from '~/components/copy.vue';
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    SlpContainer,
    SlpTable,
    CallToAction,
    Copy
  },
  async asyncData({ $content }) {
    const doc = await $content('terms').fetch()
    return { doc }
  },
  head() {
    return getPageMetadata((<any>this).doc)
  }
})
</script>

<style>
 /* Custom styles for this page only */
  hr.slp-hr {
    margin-bottom: 0 !important;
  }
  .copy {
    margin-bottom: 24px;
  }
</style>
