<template>
  <SlpContainer>
    <component :is='component.name' v-for='component in doc.components' :key='component.name'
               :data='component.data'></component>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpContainer from '~/components/container.vue'
import LinkCards from '~/components/link-cards.vue'
import UpdateHeader from '~/components/update/header.vue'
import { getPageMetadata } from '~/common/meta'

export default Vue.extend({
  components: {
    SlpContainer,
    LinkCards,
    UpdateHeader
  },
  async asyncData({ $content }) {
    const doc = await $content('update').fetch()
    return { doc }
  },
  head() {
    return getPageMetadata((<any>this).doc)
  }
})
</script>
