<template>
  <section
    class="container"
    @click="onCardClick"
    @mouseover="isHovered = true"
    @mouseleave="isHovered = false"
  >
    <div class="image__container">
      <img :src="video.photourl" :alt="video.title" />
      <div class="image__container--play">
        <SlpPlayIcon :is-active="isHovered" />
      </div>
    </div>
    <div class="text__container">
      <p class="tag slp-text-align-left">{{ video.carousel_identifier[0] }}</p>
      <p class="title slp-text-align-left">{{ video.title }}</p>
    </div>
  </section>
</template>
<script lang="ts">
import Vue from 'vue'
import SlpPlayIcon from '~/components/solutions/play-icon.vue'
export default Vue.extend({
  name: 'SolutionsCarouselVideoCard',
  components: {
    SlpPlayIcon,
  },
  props: {
    video: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      isHovered: false,
    }
  },
  methods: {
    onCardClick() {
      this.$emit('click')
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.container {
  padding: $spacing-0 $spacing-0 $spacing-32 $spacing-0;
  border-radius: $spacing-4;
  max-width: 350px;
  min-height: 320px;
  margin: $spacing-0 $spacing-16;
  color: $charcoal;
  cursor: pointer;
  border: 1px solid $grayscale-highlight;
  transition: $transition-esase-in-out-300;
  -webkit-box-shadow: $slp-shadow;
  -moz-box-shadow: $slp-shadow;
  box-shadow: $slp-shadow;
  &:hover {
    -webkit-box-shadow: $slp-shadow-lg;
    -moz-box-shadow: $slp-shadow-lg;
    box-shadow: $slp-shadow-lg;
    color: $secondary;
  }
}
.image__container {
  position: relative;
  
  &--play {
    position: absolute;
    top: 40%;
    right: 45%;
  }
  img {
    width: 100%;
    height: 195px;
    border-bottom: 1px solid $grayscale-highlight;
  }
}

.text__container {
  padding: $spacing-16 $spacing-32 $spacing-0 $spacing-32;
  .title {
    font-size: $font-size-xl;
    font-weight: $font-weight-normal;
  }
  .tag {
    text-transform: uppercase;
    font-size: $font-size-xxs;
    color: $charcoal;
    line-height: 20px;
  }
}
</style>