<template>
  <div class="container">
    <h3 class='slp-text-xxl' v-if='data.title'>{{data.title}}</h3>
    <div class="carousel">
      <template v-if="cards.length > 3">
        <button class="btn btn__prev" @click="prev">
          <SlpArrowCircularLeft :is-active="prevActive" />
        </button>
        <button class="btn btn__next" @click="next">
          <SlpArrowCircularRight :is-active="nextActive" />
        </button>
      </template>

      <div ref="inner" class="inner" :style="innerStyles">
        <div v-for="card in cards" :key="card" class="card">
          <SolutionsCarouselVideoCard
            :video="data.videos[card]"
            @click="() => onVideoClick(data.videos[card])"
          />
        </div>
      </div>
    </div>
    <SolutionsModal
      v-show="isModalVisible && selectedVideo != {}"
      :is-light-background="data.light_background || false"
      @close="closeModal"
    >
      <template #body>
        <iframe
          v-if="selectedVideo.title"
          :src="selectedVideo.video_link"
          :alt="selectedVideo.carousel_identifier"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      </template>
    </SolutionsModal>
  </div>
</template>
<script>
import Vue from 'vue'
import SolutionsCarouselVideoCard from '~/components/solutions/carousel-video-card.vue'
import SolutionsModal from '~/components/solutions/video-modal.vue'
import SlpArrowCircularLeft from '~/components/solutions/arrow-circular-left.vue'
import SlpArrowCircularRight from '~/components/solutions/arrow-circular-right.vue'

export default Vue.extend({
  name: 'SolutionsCarouselVideos',
  components: {
    SolutionsCarouselVideoCard,
    SlpArrowCircularLeft,
    SlpArrowCircularRight,
    SolutionsModal,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      cards: [...this.data.videos.map((_, index) => index)],
      innerStyles: {},
      step: '',
      transitioning: false,
      prevActive: false,
      nextActive: false,
      isModalVisible: false,
      selectedVideo: {},
    }
  },
  mounted() {
    this.setStep()
    this.resetTranslate()
  },
  methods: {
    setStep() {
      const innerWidth = this.$refs.inner.scrollWidth
      const totalCards = this.cards.length
      this.step = `${innerWidth / totalCards}px`
    },
    next() {
      if (this.transitioning) return
      this.transitioning = true
      this.nextActive = true
      this.moveLeft()
      this.afterTransition(() => {
        const card = this.cards.shift()
        this.cards.push(card)
        this.resetTranslate()
        this.transitioning = false
        this.nextActive = false
      })
    },
    prev() {
      if (this.transitioning) return
      this.transitioning = true
      this.prevActive = true

      this.moveRight()
      this.afterTransition(() => {
        const card = this.cards.pop()
        this.cards.unshift(card)
        this.resetTranslate()
        this.transitioning = false
        this.prevActive = false
      })
    },
    moveLeft() {
      this.innerStyles = {
        transform: `translateX(-${this.step})
                    translateX(-${this.step})`,
      }
    },
    moveRight() {
      this.innerStyles = {
        transform: `translateX(${this.step})
                    translateX(-${this.step})`,
      }
    },
    afterTransition(callback) {
      const listener = () => {
        callback()
        this.$refs.inner.removeEventListener('transitionend', listener)
      }
      this.$refs.inner.addEventListener('transitionend', listener)
    },
    resetTranslate() {
      this.innerStyles = {
        transition: 'none',
        transform:'translateX(0)'
      }
    },
    showModal() {
      this.isModalVisible = true
    },
    closeModal() {
      document.documentElement.style.overflow = 'auto'
      this.isModalVisible = false
      this.selectedVideo = {}
    },
    onVideoClick(video) {
      document.documentElement.style.overflow = 'hidden'
      this.showModal()
      this.selectedVideo = video
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.container {
  width: 100%;
}
.carousel {
  width: 100%;
  height: 100%;
  padding: $spacing-48 $spacing-16;
  overflow: hidden;
  position: relative;
}
.inner {
  transition: transform 0.2s;
  white-space: nowrap;
}
.card {
  display: inline-flex;
}
.btn {
  border: none;
  z-index: 89;
  outline: none;
  position: absolute;
  top: 43%;
  cursor: pointer;
  &__prev {
    left: 4px;
  }
  &__next {
    right: -4px;
  }
}
</style>
