<template>
  <section class='slp-position-relative'>
    <span v-if="data.metadata" :id="data.metadata.id_tag || ''" :data-slippers-scroll="data.metadata.id_tag || ''"></span>
    <h2 class='slp-text-xxl slp-mb-24 slp-ml-16'>{{data.title}}</h2>
    <div class='case-study'>
      <div class='case-study__container'>
        <div class='case-study__card slp-card' v-for='(caseStudy, index) in data.case_studies' :key='index'>
          <div class='case-study__img'>
            <img :src='caseStudy.image_url' />
          </div>
          <div class='case-study__content'>
            <a class='slp-text-md-bold' :href='caseStudy.link_url'>{{ caseStudy.title }}</a>
            <p class='slp-text-granite slp-mb-8 slp-mt-4'>{{ caseStudy.author }}</p>
            <a class='case-study__btn' :href='caseStudy.link_url' :data-ga-name='caseStudy.data_ga_name' :data-ga-location='caseStudy.data_ga_location'>{{caseStudy.link_text}}</a>
          </div>
        </div>
      </div>
    </div>
    <SlpHorizontalRule v-if='data.has_horizontal_rule'></SlpHorizontalRule>
  </section>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpButton from '~/components/button.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'CaseStudies',
  components: {
    SlpHorizontalRule,
    SlpButton,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
})
</script>

<style scoped lang='scss'>
@import '~/assets/css/variables';

.case-study {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    display: flex;
    margin: $spacing-24;
    padding: $spacing-16;
  }

  &__img {
    padding-right: 20px;
    width: 85px;

    img{
      max-width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-top: $spacing-8;

    &:hover {
      text-decoration: underline;
      color: $secondary-dark;
    }

    &:after {
      position: absolute;
      content: '→';
      padding-top: 2px;
      padding-left: 4px;
      width: 9px;
      text-decoration: none;
    }
  }
}
</style>
