<template>
  <div>
    <div v-for="(block, index) in data.block" :key="index" class='container'>
      <span v-if="block.metadata" :id="block.metadata.id_tag || ''"></span>
      <img class="container__corner-img" src="/nuxt-images/backgrounds/gitops-header-bg-3.svg" alt=" "/>
      <div class="copy">
        <h3 class="slp-mb-16 slp-text-xxl">{{data.title || 'Resources'}}</h3>
        <h4 v-if="block.subtitle">{{ block.subtitle }}</h4>
        <div class="copy__body">
          <div v-if="block.text" v-html="$md.render(block.text)" class="slp-mb-32"></div>
          <slp-button v-if="block.link_href" :href="block.link_href">{{ block.link_text }}</slp-button>
        </div>
        <div v-if="block.video" class="video-container">
          <video-card  :video="block.video"/>
          <a href="https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg/featured" class="more-videos">View more videos →</a>
        </div>
      </div>
      <div class='resources'>
        <div v-for='(resource, propertyName, resourceIndex) in block.resources' :key='propertyName' class='slp-flex slp-flex-column'>
          <div class='slp-flex'>
            <img class="resources__icon" :src='resourceIcon[propertyName]' alt=' '/>
            <h4 class='slp-text-base'><strong>{{resource.header}}</strong></h4>
          </div>
          <a v-for='(link, index) in resource.links' :key='`${propertyName}-${index}`'
             class="slp-mb-16 slp-mt-16"
             :href='link.link'
             :data-ga-name='link.data_ga_name'
             :data-ga-location='link.data_ga_location'>
            {{link.text}}
          </a>
          <SlpHorizontalRule v-if='Object.keys(block.resources).length - 1 !== resourceIndex'/>
        </div>
      </div>
      <SlpHorizontalRule />
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import SlpButton from '../button'
import SlpHorizontalRule from '../horizontal-rule'
import { RESOURCE_ICON_PATH } from '~/common/constants'
import VideoCard from '~/components/solutions/video-card.vue'


export default Vue.extend({
  name:'CopyList',
  components: {
    SlpButton,
    SlpHorizontalRule,
    VideoCard
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  computed:{
    resourceIcon() {
      return RESOURCE_ICON_PATH;
    }
  }
})
</script>

<style lang="scss" scoped>
@import '~assets/css/variables';

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  padding-top: 30px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
  }

  hr {
    margin: 30px 0;
    grid-column: 1 / span 12;
  }

  &__corner-img {
    position: absolute;
    left: -30px;
    top: -25px;
  }
}

.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy {
  grid-column: 1 / 12;

  @media (min-width: 1024px) {
    grid-column: 1 / 6;
  }

  h4 {
    color: $charcoal;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    line-height: $line-height-sm;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
    }
  }

  &__body {
    grid-column: 1 / 12;
    color: $charcoal;

    &::v-deep p {
      font-size: $font-size-base;
      margin-bottom: 1em;
    }

    &::v-deep li {
      font-size: $font-size-base;
    }

    & ::v-deep p a {
      color: $secondary;
    }
  }
}

.resources {
  grid-column: 1 / 12;

  @media(min-width: 1024px) {
    grid-column: 7 / span 6;
  }

  &__icon {
    max-width: 24px;
    vertical-align: middle;
    margin-right: 20px;
  }

  a {
    margin-left: 44px;
    color: $secondary;
    text-decoration: none;
    position: relative;
    font-size: $font-size-base;

    &:after {
      content: '→';
      opacity: 0;
      transition: 0.25s;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}

.more-videos{
  font-size: $font-size-sm;
  text-align: center;
  width: 100%;
}
</style>
