<template>
  <SlpContainer>
    <SlpRow>
      <SlpColumn :cols='data.column_size' v-for='media in data.media' :key='media.title'>
        <div class='slp-card feature'>
          <div class='feature__media'>
            <img v-if='media.image' :src='media.image.url' :alt='media.image.alt' />
            <iframe
              v-if="media.video"
              :src="media.video.url"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            />
          </div>
          <div class='feature__content'>
            <h2 class='slp-text-xl'>{{ media.title }}</h2>
            <a :href='media.link.href'
               :data-ga-name='media.link.data_ga_name'
               :data-ga-location='media.link.data_ga_location'>
              {{ media.link.text }}
            </a>
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
    <SlpHorizontalRule></SlpHorizontalRule>
  </SlpContainer>
</template>

<script lang='ts'>
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'
import SlpContainer from '~/components/container.vue'
import SlpHorizontalRule from '~/components/horizontal-rule.vue'

export default Vue.extend({
  name: 'SolutionsFeaturedVideos',
  components: {
    SlpHorizontalRule,
    SlpContainer,
    SlpColumn,
    SlpRow
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null
    }
  }
})
</script>

<style scoped lang='scss'>
@import '~assets/css/variables';

.feature {
  margin: $spacing-8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__media {
    img, iframe{
      width: 100%;
    }

    iframe{
      height: 120px;
    }
  }

  &__content {
    margin-top: $spacing-8;
    margin-bottom: $spacing-8;

    a {
      display: block;
      margin-top: $spacing-8;

      &:hover {
        text-decoration: underline;
        color: $secondary-dark;
      }

      &:after {
        position: absolute;
        content: '→';
        padding-top: 2px;
        padding-left: 4px;
        width: 9px;
        text-decoration: none;
      }
    }
  }
}
</style>
