<template>
  <section class='slp-mb-64'>
    <div class='image-card slp-card' v-for='block in data.block' :key='block.header'>
      <img class='image-card__media' :src='block.image_url' :alt='block.image_alt'>
      <div class='slp-pl-32'>
        <h3 class='slp-mb-8'>{{ block.header }}</h3>
        <div v-html='$md.render(block.text)'></div>
      </div>
    </div>
  </section>
</template>

<script lang='ts'>
import Vue from 'vue'

export default Vue.extend({
  name: 'ImageCard',
  props: {
    data: {
      type: Object,
      required: true
    }
  }
})
</script>

<style scoped lang='scss'>
@import '~assets/css/variables';

.image-card {
  display: flex;
  margin: 15px;
  flex-direction: column;
  align-items: center;

  @media (min-width: $md) {
    flex-direction: row;
  }

  &--right {
    flex-direction: row-reverse;
  }

  &__media {
    width: 130px;
    height: 130px;
    margin-bottom: $spacing-16;
  }
}

</style>
