<template>
  <section class="resources slp-mb-64">
    <h3 class="resources__header slp-text-3xl">{{ data.title }}</h3>
    <div class="resources__list" v-html="$md.render(data.list)"></div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'SolutionsFeatureBlock',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';
  .resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .resources__header{
    margin-bottom: $spacing-24;
    font-weight: 700;
    color: #2c3038;
  }

  .resources__list{
    font-weight: $font-weight-normal;
    font-size: $font-size-md;
    color: #777;
    line-height: $line-height-base;
    &::v-deep ul li {
      padding-top: 10px;
    }
  }
</style>
