<template>
  <div
    :class="[
      isLightBackground
        ? 'modal__backdrop modal__backdrop--light'
        : 'modal__backdrop',
    ]"
  >
    <div class="modal">
      <header class="modal__header">
        <slot name="header"></slot>
        <button type="button" class="btn btn__close" @click="close">
          <SlpCloseModal />
        </button>
      </header>
      <section class="modal__body">
        <slot name="body"></slot>
      </section>
      <footer class="modal__footer">
        <slot name="footer"></slot>
      </footer>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import SlpCloseModal from '~/static/nuxt-images/video-carousels/close-modal-icon.vue'
export default Vue.extend({
  name: 'SolutionsVideoModal',
  components: {
    SlpCloseModal,
  },
  props: {
    isLightBackground: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
    close() {
      this.$emit('close')
    },
  },
})
</script>
<style lang="scss" scoped>
@import '~/assets/css/base.scss';
.modal {
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-top: $spacing-96;
  &__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark-backdrop;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: $zindex-modal-backdrop;
    &--light {
      background-color: $light-backdrop;
    }
  }

  &__header {
    position: relative;
    justify-content: space-between;
    background-color: transparent;
  }
  &__header,
  &__footer {
    padding: $spacing-16;
    display: flex;
  }
  &__body {
    position: relative;
    padding: $spacing-8;
    iframe {
      width: 920px;
      height: 516px;
      border-radius: $spacing-4;
      border: none;
    }
  }
}
.btn {
  &__close {
    position: absolute;
    top: $spacing-16;
    right: -$spacing-24;
    width: $spacing-32;
    height: $spacing-32;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
</style>