<template>
  <section class="header">
      <SlpColumn class="slp-flex slp-flex-column slp-align-items-center">
        <img
          src="https://about.gitlab.com/images/enterprise/tier_3_confetti.svg"
        />
        <h1>{{ data.title }}</h1>
        <h3>{{ data.subtitle }}</h3>
      </SlpColumn>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import SlpColumn from '~/components/column.vue'
import SlpRow from '~/components/row.vue'

export default Vue.extend({
  name: 'EnterpriseShipFeaturesFaster',
  components: {
    SlpColumn,
    SlpRow,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@import '~/assets/css/variables';

.header{
  margin-top: -$spacing-64;
  margin-bottom: $spacing-32;
  text-align:center;
  @media (max-width: $md) {
    margin-top: 0px;
  }
}

</style>
